{% extends "login_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block content %}
<script src="{% static "js/dashboard/bonus.js" %}"></script>
<div class="height-full">
    <div class="row height-full">
        {% include "home/submenu.html" with mode='profile'%}
        <div class="sub-page-content col-md-9">
            <div class="sub-page-header">
                <div class="bg-winner">
                    <font>{% trans 'LANG_AVAILABLE_BONUS' %}</font>
                    <div class="winner-bar"></div>
                </div>
            </div>

            <div style="box-shadow: 0 0 20px rgba(0, 0, 1, 0.1);margin-top:10px;">
                <div class="line-gradient"></div>
                <div class="sub-page-wrapper">
                    <div class="sub-page-container col d-flex flex-column" style="margin:0;"> 
                        <form id="bonuscode-form">
                            <h6>{% trans 'LANG_ENTER_BONUS' %}</h6>
                            <div class="form-group">
                                <p>{% trans 'LANG_IF_YOU_ARE_ELIGIBL' %}</p>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 pb-0">
                                    <label for="bonus_code">{% trans 'LANG_BONUS_CODE' %}</label>
                                    <input type="text" class="form-control input-text" name="bonus_code" id="bonus_code" >
                                </div>
                            </div>
                            <div class="form-group mt-auto">
                                <button type="button" id="active_bonus_submit" class="btn btn-white-blue">{% trans 'LANG_SUBMIT' %}</button>
                            </div>
                        </form>

                        <div style="width: 100%;height: 1px;background: #845542;margin: 10px 0 20px;"></div>

                        <h6>{% trans 'LANG_BONUS_HISTORY' %}</h6>
                        <div id="bonushistory" style="margin-bottom:25px;">  
                            <!-- Show active bonus here -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}