{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load menu_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as LANGUAGE %}
{% get_language_info_list for LANGUAGES as LANGUAGES %}

{% block content %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'libs/autobahn/autobahn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/handlebars-v4.0.11.js' %}"></script>
<script type="text/javascript">
    var chatButton;
</script>

{% if LANGUAGE_CODE == 'ru' %}
<script type="text/javascript">
    (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
    'https://uniclubcasino.ladesk.com/scripts/track.js',
    function(e){ chatButton = LiveAgent.createButton('93464715', e); });
</script>
{% elif LANGUAGE_CODE == 'lt' %}
<script type="text/javascript">
    (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
    'https://uniclubcasino.ladesk.com/scripts/track.js',
    function(e){ chatButton = LiveAgent.createButton('ded033a7', e); });
</script>
{% else %}
<script type="text/javascript">
    (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
    'https://uniclubcasino.ladesk.com/scripts/track.js',
    function(e){ chatButton = LiveAgent.createButton('b7ba2410', e); });
</script>
{% endif %}

<script type="text/javascript">
    window.onload = function(e){ 
        var url = new URL(window.location.href);
        var directChat = url.searchParams.get("directChat");
        if (directChat != null) {
            location.href = "https://uniclubcasino.ladesk.com/scripts/generateWidget.php?v=5.10.10.10" + "&t=" + chatButton.dateChanged + "&cwid=" + chatButton.id + "&cwt=chat_popout";
        }
    }
</script>
{% endblock %}