{% extends "login_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load menu_tags %}

{% block content %}
<script src="{% static 'js/dashboard/game_history.js' %}"></script>
<style>
    @font-face {
        font-family: Glyphicons Halflings;
        src: url("/static/fonts/glyphicons-halflings-regular.eot");
        src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix")
                format("embedded-opentype"),
            url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"),
            url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    #tb-filter-date td {
        font-weight: 400;
        border: none !important;
        padding: 0 8px;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
    }

    .glyphicon-triangle-right:before {
        content: "\e250";
    }

    .glyphicon-triangle-left:before {
        content: "\e251";
    }

    .table thead th {
        border-bottom: 0 !important;
        border-top: 0 !important;
    }

    .table td {
        border-top: 1px solid #222;
    }
    
    @media only screen  and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

        .tb-report .head-table{
            display: none;
        }

        table.tb-report , .tb-report thead, .tb-report tbody, .tb-report th, .tb-report td, .tb-report tr {
            display: block;
        }

        .tb-report thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .tb-report tr:nth-child(odd) {
            background: #4d4d4d;
        }

        .tb-report td {
            border: none;
            border-bottom: 1px solid #222;
            position: relative;
            padding-left: 50% !important;
        }

        .tb-report td:before {
            position: absolute;
            top: 0;
            left: 6px;
            width: 45%;
            padding: 8px;
            white-space: nowrap;
        }

        .tb-report td:nth-of-type(1):before { content: "{% trans 'LANG_DATE' %}"; }
        .tb-report td:nth-of-type(2):before { content: "{% trans 'LANG_GAME' %}"; }
        .tb-report td:nth-of-type(3):before { content: "{% trans 'LANG_ACTIVITY' %}"; }
        .tb-report td:nth-of-type(4):before { content: "{% trans 'LANG_AMOUNT' %}"; }
    }
</style>

<div class="container">
    <div class="row">
        {% include "home/submenu.html" with mode='profile'%}
        <div class="sub-page-content col-md-9">
            <div class="sub-page-header">
                <span>{% trans 'LANG_GAMING_HISTORY'|title %}</span>
            </div>

            <div class="sub-page-wrapper">
                <div class="sub-page-container col d-flex flex-column">
                    <table class="tb-head-filter">
                        <tr>
                            <th class="text-left" style="border: 0;padding-left: 0;">
                                
                                <span id="tb-filter-date"></span>
                                <select id="transaction_type" class="we-dark-select" style="display: none;">
                                    <option value="Gambling">
                                    {% comment %} {% trans 'LANG_GAMBLING'%} {% endcomment %}
                                    </option>
                                </select>
                                </th>
                                <th colspan="2" class="text-center" style="border: 0;"></th>
                                <th class="text-right" style="border: 0;">
                                Size
                                <select id="transaction_size" class="we-dark-select" style="padding-right: 0;">
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </th>
                        </tr>
                    </table>

                    <table role="table" class="table tb-report">
                        <thead>
                            <tr role="row" class="head-table">
                                <th role="columnheader" style="border-top: 0;">{% trans 'LANG_DATE' %}</th>
                                <th role="columnheader" style="border-top: 0;">{% trans 'LANG_GAME' %}</th>
                                <th role="columnheader" style="border-top: 0;">{% trans 'LANG_ACTIVITY' %}</th>
                                <th role="columnheader" style="border-top: 0;">{% trans 'LANG_AMOUNT' %}</th>
                            </tr>
                        </thead>
                        <tbody id="transactions_list" role="rowgroup">

                        </tbody>
                        <tbody id="transactions_nodata" style="display:none;">
                          <tr>
                              <td  colspan="4">
                              {% comment %} {% trans 'LANG_NO_DATA' %} {% endcomment %}
                              </td>
                          </tr>
                        </tbody>
                        <tbody id="transactions_loading">
                          <tr>
                              <td  colspan="4">{% trans 'LANG_LOADING' %}</td>
                          </tr>
                        </tbody>
                    </table>

                    <table class="tb-head-filter" style="margin-bottom: 50px;">
                        <tr>
                            <td colspan="4" class="text-right">
                                {% trans 'LANG_PAGE'%} 
                                <select class="dropdown-menu-page we-dark-select" id="transaction_page" style="padding-right: 0;border-bottom:0;">
                                <option value="1">1</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    show_cal(0,0,month,year);
</script>
{% endblock %}
