{% extends "login_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load menu_tags %}

{% block content %}
    <script src="{% static "js/dashboard/inbox.js" %}"></script>
<style>
    .table thead th {
        border-bottom: 0;
        border-top: 0;
    }

    .table thead {
        background: #222;
    }

    .table td {
        border-top: 1px solid #222;
    }
    .table tbody+tbody {
        border-top: none;
    }
</style>
    {% include "home/submenu.html" with mode='profile'%}
    <div class="account-inbox">
        <div class="container full-width-screen">
            <div  class="row">
                <div class="col-md-12">
                    <h1>{% trans 'LANG_INBOX_MESSAGES' %}</h1>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans 'LANG_TITLE' %}</th>
                                    <th>{% trans 'LANG_MESSAGES' %}</th>
                                    <th>{% trans 'LANG_BONUS_CODE' %}</th>
                                </tr>
                            </thead>

                            <tbody id="inbox_loading">
                                <tr>
                                    <td></td>
                                    <td colspan="2">{% trans 'LANG_LOADING' %}</td>
                                </tr>
                            </tbody>
                            <tbody id="inbox_result" class="hidden"></tbody>
                            <tbody id="inbox_noresult" class="hidden">
                                <tr>
                                    <td></td>
                                    <td colspan="2">{% trans 'LANG_NO_RESULT' %}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
