{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="sub-page-content col-md-12" style="padding-top: 45px;padding-bottom: 45px;">
                <div class="col-md-12">
                    <div class="line-gradient"></div>
                    <div class="sub-page-wrapper">
                        <div class="sub-page-container col" style="margin-top:0;margin-bottom: 0;padding: 30px 40px;">

                            <h1 style="text-transform: uppercase;font-size: 20px;margin-bottom: 30px;">about us</h1>

                            <img src="{% static 'images/aboutpage.jpg' %}" style="width:100%;margin-bottom: 30px;">

                            <p>What is Aurum Palace? It is a fairytale palace where the time or space is irrelevant. The story of your journey begins here and the future of this wonderful world is in your hands. The Spincess has long been waiting for real players and she is ready to open the world of entertainment right now. If the thirst for adventure, new achievements and incredible wealth are your path, you have come to the right place.&nbsp;</p>

                            <p>So, wake up sir, and let&#39;s start your journey in Aurum Palace through amazing games and places, across palm trees, and past the ocean of the gold and wins, you have never seen before. &nbsp; &nbsp;</p>

                            <p><strong>Incredible Bonus System</strong></p>

                            <p>Aurum Palace boasts not only an incredibly exciting bonus system but also one of the highest bonus offers among casinos. You can get up to 300% Welcome Bonus + 200 Free Spins, extra free chips, generous cashback and the best games from world famous providers. Also, exclusively at Aurum Palace, you will have a chance to take part in the Treasure Chest hunt, getting even more rewards from the lovely Spincess!</p>

                            <p><strong>Licensed gaming</strong></p>

                            <p>International certification of gaming service - MGA license<br />
                            The gaming area of Aurum Palace is licensed by the all trusted Malta Gaming Authority. This government entity was created to regulate different areas of the gaming industry, which fall under the jurisdiction of the MGA. The organization provides transparency and fairness of the game process. In addition, the structure provides crime prevention or money laundering, protecting vulnerable and under-aged players, introducing responsible gambling policies.</p>

                            <p><strong>Responsible gaming</strong></p>

                            <p>Aurum Palace is aware of the importance of social responsibility. Therefore, the company has created an extensive set of rules for responsible gaming and reliable round-the-clock support working 7 days a week. You can find out any additional information about our service by contacting customer support. We can answer all your questions in five languages: English, German, Spanish, French, and Russian.</p>

                            <p><strong>Secure Gaming</strong></p>

                            <p>We respect the privacy of Aurum Palace users. Therefore, we use the latest software developments in the field of personal data security. We follow confidentiality rules to ensure internal data security. In addition, Aurum Palace uses the security system similar to financial institutions to guarantee the safety of user data and KYC information.</p>

                            <p><strong>Underage Gambling&nbsp;</strong></p>

                            <p>The company does not provide an opportunity to use the site to minors. It means that under no circumstances any person under 18 age can`t open accounts or play in the casino. We regularly check the age of our clients who use payment systems that are accessible to underage persons. Aurum Palace is available only after you have reached the age of majority.</p>

                            <!-- <div id="about-bank" class="row" style="margin-top: 60px;margin-left:0;margin-right:0;border-top: 1px solid #b48061;padding:20px 0 0">
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/Visa.png' %}" style="width:auto;height:100%;">
                                </div>
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/MasterCard.png' %}" style="width:auto;height:100%;">
                                </div>
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/Trustly.png' %}" style="width:auto;height:100%;">
                                </div>
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/Neteller.png' %}" style="width:auto;height:100%;">
                                </div>
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/Skrill.png' %}" style="width:auto;height:100%;">
                                </div>
                                <div class="col-md-2">
                                    <img src="{% static 'images/bank/EcoPay.png' %}" style="width:auto;height:100%;">
                                </div>   
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
