{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% url 'login' as login_url %}
{% load thumbnail %}
{% load casino_campaigns_tags %}
{% get_current_language as LANGUAGE_CODE %}

<style>
.banner-indicator {
    display: none !important;
}

@media only screen and (max-width: 416px) {
    .centered-element {
        width: 90%;
    }
}

</style>

<div id="bottom-banner" class="banner">
    <div class="banner-slide mb-0">
            {% show_bottom_banners as campaign_list %}
            {% for campaign in campaign_list %}
                {% if campaign.landing_page|lower == 'false' and campaign.language_code == LANGUAGE_CODE %}
                    <div class='square-box box-auto'>

                        <div class='square-content'>
                            <div class="square-thumbnail">
                                <img src="{{ campaign.banner_cover.url }}" alt="{{ campaign.title }}" >
                            </div>
                        </div>

                        <div style="position: relative; width: 100%;">
                            <div class="centered-element ">
                                <span>{{campaign.title}}</span>
                                {{campaign.subtitle}}

                                <a href="/promotions/{{campaign.slug}}">
                                    <button class="btn btn-banner">{% trans 'LANG_READ_MORE' %}</button>
                                </a>

                                <!-- <div class="banner-buttons">
                                    {% if request.user.is_authenticated %}
                                        <a href="/promotions/{{campaign.slug}}">
                                            <button class="btn btn-banner">Read more</button>
                                        </a>
                                    {% else %}    
                                        <button class="btn btn-banner" data-toggle="modal" data-target="#registerModal">
                                            Rester now!
                                        </button>
                                    {% endif %}
                                </div> -->
                            </div>
                        </div>

                    </div>
                {% endif %}
        {% endfor %}
    </div>
</div>

<!-- <div style="background:#000;">
    <div class="banner-main" style="margin-bottom: 0;">
        {% show_bottom_banners as campaign_list %}
        {% for campaign in campaign_list %}
            {% if campaign.landing_page|lower == 'false' and campaign.language_code == LANGUAGE_CODE %}
           
            <div class="banner" style="padding: 0; height: 400px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5" style="padding: 0;float:left;" align="center">
                                <img src="{{ campaign.thumbnail.url }}" alt="{{ campaign.title }}">
                            </div>
                            <div class="col-md-7" style="float:left;">
                                <p class="banner-title">{{campaign.title}}</p>
                                {{campaign.subtitle}}

                                {% if request.user.is_authenticated %}
                                    <a href="/promotions/{{campaign.slug}}">
                                        <button class="btn btn-banner">Read more</button>
                                    </a>
                                {% else %}    
                                    <button class="btn btn-banner" data-toggle="modal" data-target="#registerModal">
                                        Rester now!
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
            
            {% endif %}
        {% endfor %}

    </div>

</div>  -->
<script>
jQuery(function () {
    // mainBanner();
    // popularBanner();
    
    // $(window).on('resize', function () {
    //     if ($(window).width() > 500) {
    //         var config = {
    //             num: 5,
    //             maxWidth: 250,
    //             maxHeight: 200,
    //             autoPlay: false,
    //             scale: 0.8,
    //             distance: 50
    //         };
    //     } else {
    //         var config = {
    //             num: 3,
    //             maxWidth: 210,
    //             maxHeight: 200,
    //             autoPlay: false,
    //             scale: 0.8,
    //             distance: 30
    //         };
    //     }        
    //     $('#banner-carousel').carousel({ config });
    // });
    
});

function mainBanner() {
    jQuery('.banner-main').slick({
        autoplay: false,
        dots: true,
        dotsClass: 'banner-indicator',
        customPaging: function (slider, i) {
            var thumb = $(slider.$slides[i]).data();
            return '<a></a>';
        },
    });
}

function popularBanner() {
    // $('#banner-carousel').carousel();
    $('.banner-slider').on('init', () => {
        $('.slick-slide[data-slick-index="-2"]').addClass('lt2');
        $('.slick-slide[data-slick-index="-1"]').addClass('lt1');
        $('.slick-slide[data-slick-index="1"]').addClass('gt1');
        $('.slick-slide[data-slick-index="2"]').addClass('gt2');
    })
    .slick({
        centerMode: true,
        centerPadding: '50px',
        slidesToShow: 3,
        prevArrow: '<button type="button" class="slick-prev"><img src="{% static "images/menu/menu-arrow.png" %}" style="z-index:9;position:relative;height:2rem;transform: rotate(-180deg);"></button>',
        nextArrow: '<button type="button" class="slick-next"><img src="{% static "images/menu/menu-arrow.png" %}" style="z-index:9;position:relative;height:2rem;"></button>'
    }).on('beforeChange', (event, slick, current, next) => {
        $('.slick-slide.gt2').removeClass('gt2');
        $('.slick-slide.gt1').removeClass('gt1');
        $('.slick-slide.lt1').removeClass('lt1');
        $('.slick-slide.lt2').removeClass('lt2');

        const lt2 = (current < next && current > 0) ? current - 1 : next - 2;
        const lt1 = (current < next && current > 0) ? current : next - 1;
        const gt1 = (current < next || next === 0) ? next + 1 : current;
        const gt2 = (current < next || next === 0) ? next + 2 : current + 1;

        $(`.slick-slide[data-slick-index="${lt2}"]`).addClass('lt2');
        $(`.slick-slide[data-slick-index="${lt1}"]`).addClass('lt1');
        $(`.slick-slide[data-slick-index="${gt1}"]`).addClass('gt1');
        $(`.slick-slide[data-slick-index="${gt2}"]`).addClass('gt2');

        // moving from 5 to 0
        if (current === 5 && next === 0) {
            $(`.slick-slide[data-slick-index="${current - 1}"]`).addClass('lt2');
            $(`.slick-slide[data-slick-index="${current}"]`).addClass('lt1');
            $(`.slick-slide[data-slick-index="${current + 2}"]`).addClass('gt1');
            $(`.slick-slide[data-slick-index="${current + 3}"]`).addClass('gt2');
        }

        // moving from 0 to 5
        if (current === 0 && next === 5) {
            $(`.slick-slide[data-slick-index="${current - 1}"]`).addClass('gt2');
            $(`.slick-slide[data-slick-index="${current}"]`).addClass('gt1');
            $(`.slick-slide[data-slick-index="${current - 2}"]`).addClass('lt1');
            $(`.slick-slide[data-slick-index="${current - 3}"]`).addClass('lt2');
        }
    });
}
</script>