{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load thumbnail %}
{% load casino_campaigns_tags %}
{% url 'login' as login_url %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_tags %}
<!-- <div class="content-wrapper bg-dark">
    <section class="container section-content">
        <div class="row">
            <div class="col-md-12 section-content-title">
                <h1>{% static_placeholder 'footer_title_about'%}</h1>
            </div>
            <div class="col-md-12 section-content-sub-title">
                <h5>{% static_placeholder 'footer_detail_about'%}</h5>
            </div>
            <div class="col">
                <div class="content-data d-flex flex-wrap">
                    <div class="content-block">
                        <div class="content-cover col-md-4 text-center">
                            <img src="/static/images/FirstAreaImage.png" />
                        </div>
                        <div class="content col-md-8">
                            <div class="content-title pl-0 pr-0">
                                <h5 class="mb-0">{% static_placeholder 'footer_top_left_title'%}</h5>
                            </div>
                            <div class="content-detail p-0">
                                <span>{% static_placeholder 'footer_top_left_content' %}</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-cover col-md-4 text-center">
                            <img src="/static/images/SecondAreaImage.png" />
                        </div>
                        <div class="content col-md-8">
                            <div class="content-title pl-0 pr-0">
                                <h5 class="mb-0">{% static_placeholder 'footer_top_right_title'%}</h5>
                            </div>
                            <div class="content-detail p-0">
                                <span>{% static_placeholder 'footer_top_right_content' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-cover col-md-4 text-center">
                            <img src="/static/images/ThirdAreaImage.png" />
                        </div>
                        <div class="content col-md-8">
                            <div class="content-title pl-0 pr-0">
                                <h5 class="mb-0">{% static_placeholder 'footer_bottom_left_title'%}</h5>
                            </div>
                            <div class="content-detail p-0">
                                <span>{% static_placeholder 'footer_bottom_left_content' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-cover col-md-4 text-center">
                            <img src="/static/images/FourthAreaImage.png" />
                        </div>
                        <div class="content col-md-8">
                            <div class="content-title pl-0 pr-0">
                                <h5 class="mb-0">{% static_placeholder 'footer_bottom_right_title'%}</h5>
                            </div>
                            <div class="content-detail p-0">
                                <span>{% static_placeholder 'footer_bottom_right_content' %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<!-- <div class="content-wrapper d-none d-sm-block">
    <section class="container section-content">
        <div class="row">
            <div class="col">
                <div class="col-md-12 section-content-title">
                    <h1>{% static_placeholder 'footer_title_about_device' %}</h1>
                </div>
                <div class="col-md-12 section-content-sub-title">
                   {% static_placeholder 'footer_detail_about_device' %}
                </div>
            </div>
            <div class="col">
                <div class="content-data d-flex flex-wrap">
                    
                </div>
            </div>
        </div>
    </section>
</div> -->