{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% load cms_tags %}
{% load menu_tags %}

{% block title %}{% page_attribute "page_title" %} | {{ block.super }}{% endblock %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% block content %}

<div class="height-full">
    <div class="row height-full">
        <!-- {#% include "home/submenu_support.html" with mode='profile'%#} -->
        <div class="sub-page-aside submenu-bar col-md-3" style="background: url({% static 'images/sub-menu-bg2.jpg' %}); padding-right: 0;">
            <aside>
                <ul>
                    {% show_menu_below_id 'support' 0 100 100 100 'cms_templates/left_menu.html' %}
                </ul>
            </aside>
            <div class="toggle-aside-btn"></div>
        </div>

        <div class="sub-page-content col-md-9">
            <div class="sub-page-header">
                <div class="bg-winner">
                    <font>Forgot password</font>
                    <div class="winner-bar"></div>
                </div>
            </div>

            <div  class="sub-page-wrapper">
                <div class="sub-page-container account-balance-block col" style="margin-top:0;">
                    <form id="forgot-pass">
                        <div class="col-md-12 col-12 pd-lr-0" style="margin-bottom:10px;width:304px;">
                            <p style="margin-bottom:4px;">Email</p>
                            <div class="col-md-12 pd-lr-0">
                                <input class="form-control input-text" id="email_forgot" name="email_forgot" type="text">
                            </div>
                        </div>
                        <div id="captcha-box" style="margin-top:25px;">
                            <div class="g-recaptcha" id="captcha_place_holder" data-sitekey="6LfPIgYTAAAAACEcTfYjFMr8y3GX6qYVLoK-2dML"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfPIgYTAAAAACEcTfYjFMr8y3GX6qYVLoK-2dML&amp;co=aHR0cDovLzEyNy4wLjAuMTo4MDAw&amp;hl=th&amp;v=v1552285980763&amp;theme=light&amp;size=normal&amp;cb=uei9immqxybe" width="304" height="78" role="presentation" name="a-h4e6n4sngip8" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
                        </div>
                    </form>
                    <div class="col-md-12 col-12 pd-lr-0" style="margin-top:25px;">
                        <button id="forgot-pass-page" class="btn" type="button">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
