{% extends "normal_screen.html" %}

{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block content-data %}
    {% include "home/content.html" %}
{% endblock content-data %}

{% block banner %}
    {% include "home/banner.html" %}
{% endblock banner %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% block content %}

<script src="{% static 'js/dashboard/winner.js' %}"></script>

    <section id="popularGames" class="container section-content">
        
        <div class="row outter-games">
            <div id="popularGames-Box" class="col-md-12 section-content-title" style="padding-left: 0;padding-right: 0;">
                <div class="game-body col-md-12">
                    <div class="game-board {{ gamescreen }}">
                        
                    </div>
                </div>
            </div>

            <div class="col-md-12 row-btn-load-more-game hidden" align="center">
                <div style="overflow:hidden;"> 
                    <button class="plus-button plus-button--large loadmore_btn" box-id="popularGames-Box"></button>
                </div>
                <div style="overflow:hidden;">
                    <span style="text-transform:uppercase;color:#b48061;font-size: 10px;font-weight: 600;line-height: 0;cursor: pointer;" class="loadmore_btn" box-id="popularGames-Box">{% trans 'LANG_LOAD_MORE_GAME' %}</span>
                </div>
            </div>

        </div>
        
    </section>

    {% block bottom_banner %}
        {% include "home/bottom_banner.html" %}
    {% endblock bottom_banner %}

    
    <div class="winner-row" style="background:#f3ece7;">
        <section class="container section-content" style="padding-left: 0;padding-right: 0;">
            <div class="row">
                <div class="col-md-12" style="padding-left: 0;padding-right: 0;">
                    <div class="col-md-4" style="float:left;">
                        <div class="shadow"> 
                            <div class="sub-page-header">
                                <div class="bg-winner">
                                    <img src="{% static 'images/icons/latest-winners.png' %}" style=" position: absolute;top: 9px; left: 8px; width: 22px;">
                  
                                    <font style="text-transform: uppercase;margin-left: 20px;">{% trans 'LANG_LASTEST_WINNERS' %}</font>

                                    <div class="winner-bar" style="margin-left: 225px !important;">
                                    </div>
                                </div>
                            </div>

                            <div id="latest-winners" class="winner-box">
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">Kitja just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$50</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">SuperGG just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$128</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">AAAAZ just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$30</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">Yaaaah just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$160</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">NoOne just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$68</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px 10px 0 10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px; text-align: left;">
                                        <p style="color:#7a4c37;margin-bottom: 0">GGWPz just won</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$90</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="float:left;">
                        <div class="shadow"> 
                            <div class="sub-page-header">
                                <div class="bg-winner">
                                    <img src="{% static 'images/icons/top-winners.png' %}" style=" position: absolute;top: 9px; left: 8px; width: 22px;">

                                    <font style="text-transform: uppercase;margin-left: 20px;">{% trans 'LANG_TOP_WINNERS' %}</font>
                                    <div class="winner-bar" style="margin-left: 225px !important;">
                                    </div>
                                </div>
                            </div>

                            <div id="top-winners"  class="winner-box">
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0">Kitja just won on <span id="on-date" style="color:#000;">07-01-2019</span></p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$570</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0">TEA just won on <span id="on-date" style="color:#000;">01-01-2019</span></p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$340</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0">GOWIN just won on <span id="on-date" style="color:#000;">29-03-2019</span></p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$208</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-right: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0">WHATz just won on <span id="on-date" style="color:#000;">15-03-2019</span></p>
                                        <p style="color:#7a4c37;margin-bottom: 0"><span style="color:#512b20;font-weight:600;font-size: 14px;">$198</span> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="float:left;">
                        <div class="shadow"> 
                            <div class="sub-page-header">
                                <div class="bg-winner">
                                    <img src="{% static 'images/icons/jackpots.png' %}" style=" position: absolute;top: 9px; left: 8px; width: 22px;">

                                    <font style="text-transform: uppercase;margin-left: 20px;">{% trans 'LANG_JACKPOTS' %}</font>

                                    <div class="winner-bar" style="margin-left: 225px !important;">
                                    </div>
                                </div>
                            </div>

                            <div id="jackpots" class="winner-box">
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0;color:#512b20;font-weight:600;font-size: 14px;">$3200</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0;color:#512b20;font-weight:600;font-size: 14px;">$2000</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0;color:#512b20;font-weight:600;font-size: 14px;">$1520</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                                <div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
                                    <div class="col-md-4 col-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <img src="{% static 'images/mockup_game.jpg' %}" style="width:100%;">
                                    </div>
                                    <div class="col-md-8 col-8" style="float:left;padding-left: 0;padding-bottom: 10px;">
                                        <p style="color:#7a4c37;margin-bottom: 0;color:#512b20;font-weight:600;font-size: 14px;">$800</p>
                                        <p style="color:#7a4c37;margin-bottom: 0"> in <a href="#"><span id="name-game" style="text-decoration:underline;">Starburst</span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>

    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
    }
    return "";
    }

    $(document).ready(function(){
        readGamesOnfile('popularGames');
    });

    </script>

{% endblock %}



