{% load i18n %}
{% load staticfiles %}
<style>
.tab-bar a{
 cursor: pointer;
}
</style>
<div class="sub-page-aside submenu-bar col-md-3" style="background: url({% static 'images/sub-menu-bg2.jpg' %}); padding-right: 0;">
    <aside>
        <ul>
            <li class="tab-bar faq" href=""><a href="" sub-active="faq">FAQ</a></li>
            <li class="tab-bar forgotpassword" href="{% url 'forgotpassword' %}"><a href="{% url 'forgotpassword' %}" sub-active="forgotpassword">forgot password</a></li>
            <li class="tab-bar contact-us" href="{% url 'contact-us' %}"><a href="{% url 'contact-us' %}" sub-active="contact-us">{% trans 'LANG_CONTACT_US' %}</a></li>
            <li class="tab-bar rules-security" href="{% url 'rules-security' %}"><a href="{% url 'rules-security' %}" sub-active="rules-security">Rules and Cecurity</a></li>
            <li class="tab-bar payment-method" href="{% url 'payment-method' %}"><a href="{% url 'payment-method' %}" sub-active="payment-method">payment method</a></li>
        </ul>
    </aside>
    <div class="toggle-aside-btn"></div>
</div>

<script>

    // function onScroll() {
    //     $('.sub-page-aside').removeClass('active');
    // }

    // $(function(){
    //     $(window).scroll(onScroll);
    // });

    // $("li.tab-bar").click(function (e) {
    //     document.location.href = $(this).attr('href');
    // });

    // $(".toggle-aside-btn").click(function (e) {
    //     $('.sub-page-aside').toggleClass('active');
    // });
</script>