{% load i18n %}
{% load staticfiles %}
<div class="sub-page-aside submenu-bar col-md-3" style="background: url({% static 'images/sub-menu-bg2.jpg' %}); padding-right: 0;">
        <aside>
            <ul>
                <li class="tab-bar account" href="{% url 'account' %}"><a href="{% url 'account' %}" sub-active="account">{% trans 'LANG_ACCOUNT' %}</a></li>
                <li class="tab-bar deposit" href="{% url 'deposit' %}"><a href="{% url 'deposit' %}" sub-active="deposit">{% trans 'LANG_DEPOSIT_MONEY' %}</a></li>
                <li class="tab-bar withdraw" href="{% url 'withdraw' %}"><a href="{% url 'withdraw' %}" sub-active="withdraw">{% trans 'LANG_WITHDRAW_MONEY' %}</a></li>
                <li class="tab-bar pending" href="{% url 'pending' %}"><a href="{% url 'pending' %}" sub-active="pending">{% trans 'LANG_PENDING_WITHDRAW' %}</a></li>
                <li class="tab-bar history transactions" href="{% url 'transactions' %}"><a href="{% url 'transactions' %}" sub-active="transactions">Transaction history</a></li>
                <li class="tab-bar responsible limits" href="{% url 'limits' %}"><a href="{% url 'limits' %}" sub-active="limits">{% trans 'LANG_RESPONSIBLE_GAMING' %}</a></li>
                <li class="tab-bar bonus" href="{% url 'bonus' %}"><a href="{% url 'bonus' %}" sub-active="bonus">{% trans 'LANG_AVAILABLE_BONUS' %}</a></li>
            </ul>
        </aside>
    <div class="toggle-aside-btn"></div>
</div>
<script>
    function onScroll() {
        $('.sub-page-aside').removeClass('active');

        // var position = $(window).scrollTop();
        // var headerHeight = $('nav.mainnav').height();
        // var content = $('.content-wrapper');
        // var contentHeight = content.outerHeight();
        // var contentOffset = content[0].offsetTop;
        // var gap = 30;
        // var asideTop = $('.sub-page-aside')[0].offsetTop + headerHeight;

        // console.log('Current position::', position);
      
        // console.log('=========');
        // if(window.screen.width < 568 || (window.screen.width < 1024 && window.screen.height < 480)){
        //     if (position > headerHeight + $('.sub-page-aside')[0].offsetTop) {
        //         console.log('Move::', position - asideTop);
        //         // $('.sub-page-aside ul').css({ position: 'fixed', top: headerHeight + 'px' });
        //         $('.sub-page-aside ul').css({ position: 'absolute', top: (position - asideTop) + 'px'});
        //     } else {
        //         $('.sub-page-aside ul').css({ position: 'absolute', top: 0 });
        //     }
        // }
    }

    $(function(){
        // $(window).scroll(onScroll);

        var currentPageURL = location.pathname;
        var str = currentPageURL.substring(0, currentPageURL.length-1);
        var n = str.lastIndexOf('/');
        var lastPart = str.substring(n + 1);

        var parts = currentPageURL.split("/");

        if(lastPart){
            if(lastPart == 'deposit'){
                if(parts[2] != 'limits'){
                    $('.'+lastPart+' a').addClass('active');
                }
            }else{
                $('.'+lastPart+' a').addClass('active');
            }
        }

        if(parts[2] == 'limits'){
            $('.limits a').addClass('active');
        }

        // $("li.tab-bar").click(function (e) {
        //     document.location.href = $(this).attr('href');
        // });

        // $(".toggle-aside-btn").click(function (e) {
        //     $('.sub-page-aside').toggleClass('active');
        // });

    });
</script>