{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% block content %}
    <div style="width:100%;background:#fff;">
        <img src="{% static 'images/head_vip.jpg' %}" style="width:100%;">
        <div class="container">
            <div class="row vip-row" style="padding-top:30px;padding-bottom:80px;">
                <div style="width:100%;text-align: center;margin-bottom:30px;">
                    <h1 class="light-brow">{% trans 'LANG_VIP' %}</h1>

                    <h6 >Open the door to more exclusive bonuses, events, and other benefits!</h6>
                </div>
                <div style="width:100%;margin-bottom: 40px;">
                    <p>Becoming a VIP, you will enjoy a number of fabulous benefits such as valuable and unexpected gifts, сashbacks without wagering, personal concierge, VIP support, and VIP games.</p>
                    <p style="margin-bottom: 35px;">With personalized benefits and luxury hospitality experiences, VIP features are completely exclusive and meet all players’ individual needs and expectations.</p>
                    
                <div id="vip-img" style="width:100%;margin-bottom: 50px;">
                    <div class="row">
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_silver.png' %}">
                            <!-- <h3 class="light-brow">Silver</h3> -->
                            <!-- <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                            
                        </div>
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_gold.png' %}">
                            <!-- <h3 class="light-brow">Gold</h3> -->
                            <!-- <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                            
                        </div>
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_diamond.png' %}">
                            <!-- <h3 class="light-brow">Diamond</h3> -->
                            <!-- <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                            
                        </div>
                    </div>
                </div>
                
                    <h6 >GET VALUABLE AND UNEXPECTED GIFTS</h6>
                    <p style="margin-bottom: 35px;">VIP always means luxury and special privileges. So you will get a personally hand-picked present from our team for different occasions. It can be a birthday or anniversary bonus, an extra reward, or some other unexpected gifts.
                        </p>

                        <h6 >CASHBACK WITHOUT WAGERING</h6>
                    <p>A VIP status at our online casino is a premium and valued status. Being a VIP allows you to get cashback without wagering which is a great privilege.</p>
                
                
                    <h6 >PERSONAL CONCIERGE</h6>
                    <p style="margin-bottom: 35px;">With VIP status you will have a personal concierge who will provide you an exceptional level of guest service, inform you about benefits, contests, and promotions, and will always respond to your questions, issues, and concerns in a courteous and professional manner.</p>

                    <h6 >VIP SUPPORT</h6>
                    <p style="margin-bottom: 35px;">If you need help with your membership or are looking for a tailored bonus, you will have the best VIP support ever who will be ready to help you get the most out of your casino experience.</p>
                
                    <h6 >VIP GAMES</h6>
                    <p style="margin-bottom: 35px;">
                            Our VIPs can not only experience more access to content, features, services, and benefits but also receive a wide range of VIP games.

                            Become a part of our VIP community and enjoy the best gaming experience possible!
                            
                    </p>
                </div>
                <!-- <div style="width:100%;margin-bottom: 70px;">
                    <div class="row">
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_silver.png' %}">
                            <h3 class="light-brow">Silver</h3>
                            <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                        </div>
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_gold.png' %}">
                            <h3 class="light-brow">Gold</h3>
                            <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                        </div>
                        <div class="col-md-4" align="center">
                            <img src="{% static 'images/vip_diamond.png' %}">
                            <h3 class="light-brow">Diamond</h3>
                            <p class="mg-bt0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                        </div>
                    </div>
                </div> -->
                
                <div style="width:100%;" align="center">
                    <button class="btn" style="padding:5px 40px;">Register now!</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
