<div id="top-jackpot" class="bg-winner" style="height:40px;">
    <font>JACKPOT</font>
    <div class="winner-bar">
        <div class="row" style="padding:0 40px;margin:0;">
            <div class="col-md-4 item">
                <img src="/static/images/starbrust-picture.png"><span>$9,999</span>
            </div>
            <div class="col-md-4 item">
                <img src="/static/images/starbrust-picture.png"><span>$9,999</span>
            </div>
            <div class="col-md-4 item">
                <img src="/static/images/starbrust-picture.png"><span>$9,999</span>
            </div>
        </div>
    </div>
</div>