{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block head %}
    {% if request.user.is_authenticated %}
        <script>
            // document.location.href = "/";
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.maskedinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery.toggleinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/handlebars/verify-change-email.js' %}" type="text/javascript"></script>
    <script>
        $.mask.definitions['~'] = "[+-]";
    </script>

    <style>
      .success_active_hide { display:none;}
    </style>
    <!-- Message Box -->
    <div class="account-message">
        <span class="messages-error"></span>
    </div>
    <!--End Message -->
    <!-- Step 1 -->
    <div id="verify-box" style="text-align:center;">
            <div class="loading">{% trans 'LANG_LOADING' %}</div>
            <!-- <div class="success success_active_hide">Verified !! <a class="btn btnLogin" href="{% url 'login' %}"> Login </a></div> -->
            <!-- <div class="error"><p></p></div> -->
    </div>

    <div class="container regis-success" align="center">

        <h2 style="margin-top:80px;">
            <i class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#029A3A;"></i> Account verification
        </h2>
        <p style="font-size: 16px;">Please verify your email</p>
        <div class="alert alert-warning custom"  id="status_verify" role="alert" style="text-align:left;margin-top: 30px;">
        </div>

    </div>

    <!--End Step 1-->
    
    <script>

    </script>
{% endblock %}
