{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block search %}
    {% include "home/search.html" %}
{% endblock search %}

{% block content %}
<style>
  .btn-play-game img {
    width: 3rem;
    display: block;
    vertical-align: middle;
    border-style: none;
  }

  .btn-play-game{
    transition: .5s ease;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .item:hover .btn-play-game {
    display: block;
  }

  #casinoname {
    margin-bottom: 1rem;
  }

  #game_cate_res .btn-game-info {
    cursor:pointer;
    z-index: 99;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:none;
  }

  #game_cate_res .square-box:hover .btn-game-info{
    display: inline !important;
  }

  #game_cate_res .item {
      padding: 2rem;
  }

  #game_cate_res .item.col-sm-4.col-md-3 {
    padding: 0 15px !important;
  }

  #game_cate_res .game-info-title {
    display: flex;
  }

  #game_cate_res .game-info-footer a img {
    height: 2rem;
  }

  #game_cate_res .item .game-info-footer a .image-hover {
    display: none;
  }

  #game_cate_res .item .game-info-footer a:hover .image-hover {
    display: inline;
  }

  #game_cate_res .item .game-info-footer a:hover img {
    display: none;
  }

  #game_cate_res .game-info-data {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 575px) {
    #game_cate_res .square-box:hover .btn-game-info {
      display: none !important;
    }
  }

</style>
<script type="text/javascript">
    var slug = "{{ slug }}";
    $('.loading').show();
</script>
<script src="{% static "js/dashboard/live_casino.js" %}"></script>
<div class="container full-width-screen">
  <h4 id="casinoname"></h4>
    <div class="" id="casino_game_category_box" >
        <div id="game_cate_res" >
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button id="loadmore_btn" class="btn-we-yellow hidden" onclick="loadmoregame_show()">{% trans 'LANG_LOAD_MORE_GAME' %}</button>
          </div>
        </div>
    </div>
</div>
{% endblock %}
