{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% comment %}
{% block banner %}
    {% include "home/banner_categories.html" with slug="classic-slots" %}
{% endblock banner %}
{% endcomment %}

{% block content %}

<div id="tableGames" cate="TableGames" class="inner-game-cate">
    <div style="width:100%;">

        <div class="container">
            <!-- <h6 class="mg-bt0" style="color:#b48061;font-size: 14px; font-weight: 400; margin-bottom: 5px;  margin-left: -15px;margin-top: 50px;">Choose games categories :</h6>
            <div id="choose-game" style="margin-left:-15px;margin-right:-15px;cursor:pointer;">
                <div class="sub-page-header">
                    <div class="bg-winner">
                        <font></font>
                        <div class="winner-bar">
                            
                        </div>
                    </div>
                </div>
            </div> -->
            
            <div class="game-search" align="center">
                <span class="search-section">
                    <input class="game-search-name" placeholder="{% trans 'LANG_SEARCH_FOR_GAME' %}" category="tableGames" box-id="tableGames">
                    <button class="go-game-search" category="tableGames" box-id="tableGames"></button>
                </span>
                <span class="vendor-section">
                    <select box-id="tableGames">
                        <option value="">Vendors</option>
                    </select>
                </span>
            </div>
        </div>
        
        <section class="container section-content">
            <div id="tableGames-Box" class="row">
                <div class="game-body col-md-12">
                    <div class="game-board {{ gamescreen }}">
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 row-btn-load-more-game hidden" align="center">
                <div style="overflow:hidden;">
                    <button class="plus-button plus-button--large loadmore_btn" box-id="tableGames-Box"></button>
                </div>
                <div style="overflow:hidden;">
                    <span
                        style="text-transform:uppercase;color:#b48061;font-size: 10px;font-weight: 600;line-height: 0;cursor: pointer;"
                        class="loadmore_btn" box-id="tableGames-Box">more games</span>
                </div>
            </div>

        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        readGamesOnfile('tableGames');
    });
</script>
{% endblock %}
