{% extends "login_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block content %}
    <script src="{% static 'js/dashboard/limits.js' %}"></script>
    <style>
        .set-limit-btn, .no-limit-btn {
            display: none;
        }
    </style>
    <div class="container">
        <div class="row">
            {% include "home/submenu.html" with mode='profile'%}
            <div class="sub-page-content col-md-9">
                <div class="sub-page-header">
                    <span>{% trans 'LANG_MAX_STAKE_LIMIT'|title %}</span>
                </div>
                <div class="sub-page-wrapper">
                    <form id="limits-form" name="maxStakeLimitForm">
                        <div class="sub-page-container col d-flex flex-column" style="margin:10px 0 0 0;">
                            <p>
                               {% trans 'LANG_PLEASE_SET_YOUR_MAXIMUM_STAKE' %}
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{% trans 'LANG_AMOUNT' %}</label>
                                        <div class="col-md-12 p-0">
                                            <input type="text" class="form-control input-text" name="max-stake-limit-amount" value="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <a href="{% url 'limits' %}">
                                    <button type="button" class="back-step">Back</button>
                                </a>
                            </div>
                            <div class="col-md-8 col-12 text-right">
                                <button class="btn next-step col-md-5 col-sm-12 no-limit-btn" onClick="javascript: submitLimit('max-stake');" type="button">{% trans 'LANG_SUBMIT'|title %}</button>
                                <button class="btn next-step col-md-5 col-sm-12  btn-change set-limit-btn" onClick="javascript: submitLimit('max-stake');" type="button">{% trans 'LANG_CHANGE'|title %}</button>
                                <button class="btn next-step col-md-5 col-sm-12 set-limit-btn" onClick="javascript: removeLimit('max-stake');" type="button">{% trans 'LANG_REMOVE'|title %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
