{% load i18n %}
{% load staticfiles %}
<script src="{% static 'libs/jquery.date-dropdowns.min.js' %}" type="text/javascript"></script>
<script>
    var lastlogin = JSON.parse(localStorage.getItem('returning-user'));
    function popupwindow(url, title, w, h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
</script>
<style>

    @font-face {
        font-family: Glyphicons Halflings;
        src: url("/static/fonts/glyphicons-halflings-regular.eot");
        src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix")
                format("embedded-opentype"),
            url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"),
            url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
    }

    .glyphicon-question-sign:before {
        content: "\e085";
    }

    #showPattern {
        position: absolute;
        right: 5px;
    }

    #showPatternBox {
        width: 135px;
        height: auto;
        position: absolute;
        top: 15px;
        right: 26px;
        border: 1px solid #ced4da;
        border-radius: 5px 0 5px 5px;
        background: #f4f4f5;
        z-index: 2;
        padding: 10px;
        display: none;
    }

</style>

<!-- Modal -->
<div class="modal fade regiser-modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            
      <div class="modal-content">

        <div class="sub-page-header">
            <div class="bg-winner">
                <font>{% trans 'LANG_REGISTRATION' %}</font>
                <div class="winner-bar">
                    <div class="close-box">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal-body">
      <!-- Message Box -->
      <div class="account-message">
        <span class="messages-error"></span>
    </div>
    <!--End Message -->

    <!-- Step 1 -->
    <form class="mobile-forms form-horizontal" id="create-user">
        {% csrf_token %}

        <div class="msg"></div>
        <div class="row outer">
            <div id="create-step1" class="col-md-12">
                <div class="create-step1">
                    <div class="headerTitle">
                        <h6 style="text-align:center;color:#595d68;">{% trans 'LANG_STEP_1_OF_3' %}</h6>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_EMAIL_ADDRESS' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-email" name="email" txt-err="please enter a email" type="text">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-email-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register" style="margin-bottom: 10px;">
                                <p style="margin-bottom:4px;">{% trans 'LANG_PASSWORD' %}<i id="showPattern" class="glyphicon glyphicon-question-sign" title=""></i></p>
                                <div id="showPatternBox">
                                    <p style="font-size:11px;color:#212529;margin-bottom:0;">{% trans 'LANG_PASSWORD_MUST_BE' %}</p>
                                    <!-- <p style="font-size:11px;color:#212529;margin-bottom:0;">Password must be 8-25 characters long and include at least 1 digit, 1 lowercase letter and 1 uppercase letter 1 symbol letter</p> -->
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-password" txt-err="please enter password" name="create-password" type="password">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-password-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register" style="margin-bottom: 10px;">
                                <p style="margin-bottom:4px;">{% trans 'LANG_CONFIRM_PASSWORD' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="confirm-password" txt-err="please enter confirm password" name="confirm-password" type="password">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="confirm-password-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register" style="margin-bottom: 10px;">
                                <p style="margin-bottom:4px;">{% trans 'LANG_CURRENCY' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <select class="form-control input-text create-step1" id="ddlCurrency" name="ddlCurrency" >
                                    </select>
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="zone-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row consent">
                        <div class="col-md-12 col-12">
                            <p style="margin-bottom: 0px;padding-bottom: 0;">{% trans 'LANG_TERMS_AND_CONDITIONS' %}</p>
                            <p style="width: 100%;float: left; margin-bottom: 5px;">
                                I accept the
                                <a href="#">{% trans 'LANG_TERMS_AND_CONDITIONS' %}</a>
                                and
                                <a href="#">{% trans 'LANG_PRIVACY_POLICY' %}</a>
                            </p>
                            <div class="account-register">
                                <div style="width: 80px;float: left;">
                                    <input type="radio" id="consent-term-yes" name="consent-term" value="true">
                                    <label for="consent-term-yes">{% trans 'LANG_YES' %}</label>
                                </div>
                                <div style="width: auto;float: left;">
                                    <input type="radio" id="consent-term-no" name="consent-term" value="false">
                                    <label for="consent-term-no">{% trans 'LANG_NO' %}</label>
                                </div>
                            </div>
                            <div id="consent-term-error" class="regis-txt-error" style="padding: 0;width: 100%;float: left;"></div>
                        </div>
                    </div>

                    <button type="button" class="btn create-next" current="1">{% trans 'LANG_NEXT_STEP' %}</button>
                    
                </div>
            </div>
                
                <div id="create-step2" class="col-md-12 hidden">
                    <div class="headerTitle">
                        <h6 style="text-align:center;color:#595d68;">{% trans 'LANG_STEP_2_OF_3' %}</h6>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_USERNAME' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-username" txt-err="please enter a username" name="username" type="text">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-username-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_FIRST_NAME' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-firstname" txt-err="please enter first name" name="create-firstname" type="text">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-firstname-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_SURNAME' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-surname" name="create-surname" txt-err="please enter surname"  type="text">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-surname-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_DATE_OF_BIRTH' %}</p>
                                <div class="col-md-12 pd-lr-0" style="overflow:hidden;">
                                    <input type="hidden" id="create-birthday">
                                    <div class="form-group" style="margin:0;">
                                            <!-- <select id="create-birth-day" class="form-control input-text create-step2" name="birth_date"></select>
                                            <select id="create-birth-month" class="form-control input-text create-step2" name="birth_month"></select>
                                            <select id="create-birth-year" class="form-control input-text create-step2" name="birth_year"></select> -->
                                    </div>
                                    <div class="col-md-12 pd-lr-0">
                                        <div id="create-birthday-error" style="margin:0px;" class="regis-txt-error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_GENDER' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <select class="form-control input-text create-step1" id="create-sex" name="create-sex" txt-err='please select your gender'>
                                        <option value=""></option>
                                        <option value="M" title="Mr.">{% trans 'LANG_MALE' %}</option>
                                        <option value="F" title="Ms.">{% trans 'LANG_FEMALE' %}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-sex-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_ADDRESS' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-address" txt-err="please enter address"  name="create-address" type="text" placeholder="Address">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-address-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0 !important;">
                        <div class="col-md-12 col-12">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_CITY_OR_TOWN' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-city" name="create-city" txt-err="please enter city"  type="text" placeholder="City or town">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-city-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register">
                                <p style="margin-bottom:4px;">{% trans 'LANG_COUNTRY' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <select class="form-control input-text create-step1" id="create-country" name="create-country"></select>
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-country-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls pd-lr-0">
                            <div class="col-md-4 mgbt-2rem" style="padding-right: 0;float: left;" >
                                <div class="account-register">
                                    <p style="margin-bottom:4px;">{% trans 'LANG_PREFIX' %}</p>
                                    <div class="col-md-12 col-9 prefix prefix-no" style="padding: 0;">
                                        <select id="create-phonePrefix" class="form-control input-text create-step1" name="phonePrefix"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mg-rights" style="padding-right: 0;float: left;">
                                <div class="account-register">
                                    <p style="margin-bottom:4px;">{% trans 'LANG_PHONE_NUMBER' %}</p>
                                    <div class="col-md-12 col-9 prefix" style="padding-left: 0;">
                                        <input class="form-control input-text create-step1 onlynumber" id="create-mobile" txt-err="please enter phone number"  name="mobile" type="text">
                                        <div id="create-mobile-error" class="regis-txt-error" style="padding:0;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn create-next" current="2">{% trans 'LANG_NEXT_STEP' %}</button>
                    
                </div>


                <div id="create-step3" class="col-md-12 hidden">
                    <div class="headerTitle">
                        <h6 style="text-align:center;color:#595d68;">{% trans 'LANG_STEP_3_OF_3' %}</h6>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register" style="margin-bottom: 10px;">
                                <p style="margin-bottom:4px;">{% trans 'LANG_SECURITY_QUESTION' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <select class="form-control input-text create-step1" id="create-question" txt-err="please select security quesion" name="create-question" >
                                        <option value="">{% trans 'LANG_SELECT_SECURITY_QUESTION' %}</option>
                                        <option value="My favourite bet?">{% trans 'LANG_MY_FAVOURITE_BET' %}</option>
                                        <option value="My favourite colour?">{% trans 'LANG_MY_FAVOURITE_COLOR' %}</option>
                                        <option value="My favourite horse?">{% trans 'LANG_MY_FAVOURITE_HORSE' %}</option>
                                        <option value="My favourite place?">{% trans 'LANG_MY_FAVOURITE_PLACE' %}</option>
                                        <option value="My favourite superhero?">{% trans 'LANG_MY_FAVOURITE_SUPERHERO' %}</option>
                                        <option value="My middle name?">{% trans 'LANG_MY_MIDDLE_NAME' %}</option>
                                        <option value="My mother's maiden name?">{% trans 'LANG_MY_MOTHER_MIDEN_NAME' %}</option>
                                        <option value="My pet's name?">{% trans 'LANG_MY_PET_NAME' %}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-question-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-12 pls">
                            <div class="account-register" style="margin-bottom: 10px;">
                                <p style="margin-bottom:4px;">{% trans 'LANG_ANSWER' %}</p>
                                <div class="col-md-12 pd-lr-0">
                                    <input class="form-control input-text create-step1" id="create-answer" name="create-answer" txt-err="please enter answer" type="text" placeholder="{% trans 'LANG_YOUR_ANSWER' %}">
                                </div>
                                <div class="col-md-12 pd-lr-0">
                                    <div id="create-answer-error" class="regis-txt-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row consent">
                        <div class="col-md-12 col-12">
                            <p style="margin-bottom: 0px;padding-bottom: 5px;">{% trans 'LANG_PLEASE_SEND_ME_EXCLUSIVE_OFFER_BY_EMAIL' %}</p>
                            <div class="account-register">
                                <div style="width: 80px;float: left;">
                                    <input type="radio" id="consent-email-yes" name="consent-email" value="true">
                                    <label for="consent-email-yes">{% trans 'LANG_YES' %}</label>
                                </div>
                                <div style="width: auto;float: left;">
                                    <input type="radio" id="consent-email-no" name="consent-email" value="false">
                                    <label for="consent-email-no">{% trans 'LANG_NO' %}</label>
                                </div>
                            </div>
                            <div id="consent-email-error" class="regis-txt-error" style="padding: 0;width: 100%;float: left;"></div>
                        </div>
                                    
                        <div class="col-md-12 col-12">
                            <p style="margin-bottom: 0px;padding-bottom: 5px;">{% trans 'LANG_PLEASE_SEND_ME_EXCLUSIVE_OFFERS_BY_SMS' %}</p>
                            <div class="account-register">
                                <div style="width: 80px;float: left;">
                                    <input type="radio" id="consent-sms-yes" name="consent-sms" value="true">
                                    <label for="consent-sms-yes">{% trans 'LANG_YES' %}</label>
                                </div>
                                <div style="width: auto;float: left;">
                                    <input type="radio" id="consent-sms-no" name="consent-sms" value="false">
                                    <label for="consent-sms-no">{% trans 'LANG_NO' %}</label>
                                </div>
                            </div>
                            <div id="consent-sms-error" class="regis-txt-error" style="padding: 0;width: 100%;float: left;"></div>
                        </div>

                    </div>

                    <div class="row" align="center">
                        <div class="col-md-12 col-12">
                            <input type="submit" id="" class="btn create-submit" value="{% trans 'LANG_SUBMIT' %}">
                        </div>
                    </div>    
                </div>
            </div>

        </form>
    </div>
</div>
</div>
</div>

<script>
    function makeClearCookie() {
        document.cookie = 'name=request_id; path=/; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en-gb; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en-ca; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/fi; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/nb; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/sv; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/es; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/de; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/it; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/zh; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/ko; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/ja; expires=' + new Date(0).toUTCString();
    }

    $(document).ready(function(){

        $("body").on( "change", "#create-mobile", function() {
            var phonNumber = $(this).val();
            if(phonNumber != ''){
                $('#sms-error').text('');
                $('#create-mobile').css('border-bottom','1px solid #28a745');
                $('#phone-icon').html('<img src="/static/images/icons/green-pass.png" class="vali-icon m-top">');
            }else{
                $('#sms-error').text('Please enter your mobile number');
                $('#create-mobile').css('border-bottom','1px solid red');
                $('#phone-icon').html('<img src="/static/images/icons/red-error.png" class="vali-icon m-top">');
            }
        });

        // $("body").on( "change", "#create-password", function() {
        //     var pass = $(this).val();
        //     if(pass != ''){
        //         var regPass = new RegExp($(this).attr('pattern'));
        //         if(regPass.test(pass)){
        //             $('#pass-error').text('');
        //             $('#create-password').css('border-bottom','1px solid #28a745');
        //         }else{
        //             $('#pass-error').text('Please check your password');
        //             $('#create-password').css('border-bottom','1px solid red');
        //         }
        //     }else{
        //         $('#pass-error').text('Please enter your password');
        //         $('#create-password').css('border-bottom','1px solid red');
        //     }
        // });

        // $("body").on( "change", "#retype-password", function() {
        //     var repass = $(this).val();
        //     if(repass != ''){
        //         $('#re-pass-error').text('');
        //         $('#retype-password').css('border-bottom','1px solid #28a745');
        //     }else{
        //         $('#re-pass-error').text('Please enter retype password');
        //         $('#retype-password').css('border-bottom','1px solid red');
        //     }
        // });

        // $("body").on( "click", "#shw_pass span", function() {
        //     var thisCurrent = $(this).attr('at');
        //     if(thisCurrent == 'hide'){
        //         $(this).attr('at','show');
        //         $(this).text('Hide password');
        //         $('#create-password').attr('type','text');
        //     }else{
        //         $(this).attr('at','hide');
        //         $(this).text('Show password');
        //         $('#create-password').attr('type','password');
        //     }
        // });

        // $("body").on( "click", "#shw_retype_pass span", function() {
        //     var thisCurrent = $(this).attr('at');
        //     if(thisCurrent == 'hide'){
        //         $(this).attr('at','show');
        //         $(this).text('Hide password');
        //         $('#retype-password').attr('type','text');
        //     }else{
        //         $(this).attr('at','hide');
        //         $(this).text('Show password');
        //         $('#retype-password').attr('type','password');
        //     }
        // });

        $("body").on( "click", "#resentSMS", function() {
            var request_id = document.cookie.replace(/(?:(?:^|.*;\s*)request_id\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $.ajax({
                type: "POST",
                url: "/api/sms_verify_cancel",
                data: {
                    request_id: request_id
                },
                dataType: "json",
                cache: false,
            }).done(function (data) {
                console.log(data);
                if(data.status == 0 || data.status == 6){
                    $('#resent-error').text('');
                    $('.step1').removeClass('number-b');
                    $('.step1').addClass('number-w');
                    $('.step2,.step3').removeClass('number-w');
                    $('.step2,.step3').addClass('number-b');
                    $('.process-box .line').css('background', 'linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), black, black, black)');
                    $('.create-step3').addClass('hidden');
                    $('.create-step1').removeClass('hidden');
                }else{
                    var textError = data.error_text;
                    if(data.status == 19){
                        // textError = textError.substr(textError.indexOf("]") + 1);
                        $('#resent-error').text(gettext('Too many attempts to re-deliver have already been made. Please try again in 10 minutes later.'));
                    }else{
                        $('#resent-error').text(textError);
                    }
                }
            });
        });
    });

    jQuery(function ($) {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!

        var yyyy = today.getFullYear();
        if(dd < 10){
            dd='0'+dd;
        }
        if(mm < 10){
            mm='0'+mm;
        }
        var today = yyyy+'-'+mm+'-'+dd;
        $("#create-birthday").dateDropdowns({
            defaultDate: today,
            displayFormat: "dmy",
            daySuffixes: false,
            monthSuffixes: false,
            monthFormat: "numeric",
            dayLabel: false,
            monthLabel: false,
            yearLabel: false,
            dropdownClass:'form-control',

        });

    });
    $(function () {
        // $('#loginModal').modal('show');
        // $('.form-control').on("focus", function () {
        //     $(this).parent().toggleClass("expanded collapsed");
        //     $(this).siblings('.suggestionBox').toggle();
        // });
    });

    function cancelAndResend(request_id){
        $.ajax({
            type: "POST",
            url: "/api/sms_verify_cancel",
            data: {
                request_id: request_id
            },
            dataType: "json",
            cache: false,
        }).done(function (data) {
            console.log('cancelAndResend: ',data);
            if(data.status == 19){
                $('.step1').removeClass('number-b');
                $('.step1').addClass('number-w');
                $('.step2,.step3').removeClass('number-w');
                $('.step2,.step3').addClass('number-b');
                $('.process-box .line').css('background', 'linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), black, black, black)');
                $('.create-step3').addClass('hidden');
                $('.create-step1').removeClass('hidden');
                $('#sms-error').text(gettext('Too many attempts to re-deliver have already been made. Please try again in 10 minutes later.'));
            }else{
                if (typeof data.error_text === "undefined") {
                    var form = $('#create-user');
                    var userTel = form.find('#create-phonePrefix').val()+''+form.find('#create-mobile').val();
                    userTel = userTel.replace("+", "");
                    document.cookie = "userTel="+userTel+"";
                    var cookieTelVal = document.cookie.replace(/(?:(?:^|.*;\s*)userTel\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                    $.ajax({
                        type: "POST",
                        url: "/api/sms_verify_request",
                        data: {
                            number: cookieTelVal
                        },
                        dataType: "json",
                        cache: false,
                    }).done(function (data) {
                        var request_id = data.request_id;
                        $('#create-mobile').css('border-bottom','1px solid #B0BEC5');
                        if (typeof data.error_text === "undefined") {
                            $('#sms-error').text('');

                            makeClearCookie();
                            
                            document.cookie = "request_id="+request_id+"";
                            $('#phone-icon').html('<img src="/static/images/icons/green-pass.png" class="vali-icon m-top">');
                            console.log(request_id);
                        }else{
                            console.log('sms error status : '+data.status);
                            console.log(data.error_text);
                            if(data.status != 10){
                                $('.step1').removeClass('number-b');
                                $('.step1').addClass('number-w');
                                $('.step2,.step3').removeClass('number-w');
                                $('.step2,.step3').addClass('number-b');
                                $('.process-box .line').css('background', 'linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), black, black, black)');
                                $('.create-step3').addClass('hidden');
                                $('.create-step1').removeClass('hidden');
                                $('#sms-error').text(data.error_text);
                                $('#phone-icon').html('<img src="/static/images/icons/red-error.png" class="vali-icon m-top">');
                            }else{
                                cancelAndResend(request_id);
                            }
                        }
                    });
                }else{
                    $('#sms-error').text(data.error_text);
                }
            }

        });
    }

    function isNumbers(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function nextPage(objButton) {
        if (objButton.val() == 'CONTINUE') {
            var chkinput = true;
            var elem = document.querySelectorAll('input.form-input.' + objButton.attr('data-id'));
            // console.log(elem);
            if(objButton.attr('data-id') == 'create-step1'){
                //email
                if($('#create-username').val() == ''){
                    $('.msg').text('Please enter your email');
                    $('#create-username').css('border-bottom','1px solid red');
                    $('#msg-icon').html('<img src="/static/images/icons/red-error.png" class="vali-icon">');
                }else{
                    if($('.msg').length == 0){
                        $('.msg').text('');
                        $('#create-username').css('border-bottom','1px solid #28a745');
                        $('#msg-icon').html('<img src="/static/images/icons/green-pass.png" class="vali-icon">');
                    }

                }

                //phone number
                // $('#sms-error').text('');
                var ca_mobile = $('#create-mobile').val();
                if(ca_mobile == ''){
                    $('#sms-error').text('Please enter your mobile number');
                    $('#create-mobile').css('border-bottom','1px solid red');
                    $('#phone-icon').html('<img src="/static/images/icons/red-error.png" class="vali-icon m-top">');

                }else{
                    // check mobile exists
                    if($('#sms-error').text().length > 0){
                        return false
                    }else{
                        $('#sms-error').text('');
                        $('#create-mobile').css('border-bottom','1px solid #28a745');
                        $('#phone-icon').html('<img src="/static/images/icons/green-pass.png" class="vali-icon m-top">');
                    }
                }

                //password
                // if($('#create-password').val() == ''){
                //     $('#pass-error').text('Please enter your password');
                //     $('#create-password').css('border-bottom','1px solid red');
                // }else{
                //     var regPass = new RegExp($('#create-password').attr('pattern'));
                //     if(regPass.test($('#create-password').val())){
                //         $('#pass-error').text('');
                //         $('#create-password').css('border-bottom','1px solid #28a745');
                //     }else{
                //         $('#pass-error').text('Please check your password');
                //         $('#create-password').css('border-bottom','1px solid red');
                //     }
                // }

                if($('#retype-password').val() == ''){
                    $('#re-pass-error').text('Please enter retype password');
                    $('#retype-password').css('border-bottom','1px solid red');
                }else{
                    $('#re-pass-error').text('');
                    $('#retype-password').css('border-bottom','1px solid #28a745');
                }

                // if($('#retype-password').val() != ''){
                //     if($('#retype-password').val() != $('#create-password').val()){
                //         $('#re-pass-error').text('Password not match');
                //         $('#retype-password').css('border-bottom','1px solid red');
                //         return false;
                //     }else{
                //         $('#re-pass-error').text('');
                //         $('#retype-password').css('border-bottom','1px solid #28a745');
                //     }
                // }

            }else if(objButton.attr('data-id') == 'create-step2'){
                $('#date_txterrer').text('');
                $('#create-firstname + div').remove();
                $('#create-lastname + div').remove();
                $('#create-postcode + div').remove();
                if($('#create-firstname').val() == ''){
                    $('#create-firstname').css('border-bottom','1px solid red');
                }else if($('#create-firstname').val().length < 2){
                    $('#create-firstname').css('border-bottom','1px solid red');
                    $('<div class="col-md-12 p-0" style="font-size: 14px;color:red;">'+gettext('At least 2 characters')+'</div>').insertAfter("#create-firstname");
                }else{
                    $('#create-firstname').css('border-bottom','1px solid #B0BEC5');
                }

                if($('#create-lastname').val() == ''){
                    $('#create-lastname').css('border-bottom','1px solid red');
                }else if ($('#create-lastname').val().length < 2) {
                    $('#create-lastname').css('border-bottom','1px solid red');
                    $('<div class="col-md-12 p-0" style="font-size: 14px;color:red;">'+gettext('At least 2 characters')+'</div>').insertAfter("#create-lastname");
                }else{
                    $('#create-lastname').css('border-bottom','1px solid #B0BEC5');
                }

                if($('#create-address').val() == ''){
                    $('#create-address').css('border-bottom','1px solid red');
                }else{
                    $('#create-address').css('border-bottom','1px solid #B0BEC5');
                }

                var ca_postcode = $('#create-postcode').val();
                if(ca_postcode == ''){
                    $('#create-postcode').css('border-bottom','1px solid red');
                }else{
                    $('#create-postcode').css('border-bottom','1px solid #B0BEC5');
                }

                if($('#create-city').val() == ''){
                    $('#create-city').css('border-bottom','1px solid red');
                }else{
                    $('#create-city').css('border-bottom','1px solid #B0BEC5');
                }
            }

            elem.forEach(function (element, index, array) {
                // console.log('ar',array);
                if(array[index].value.length < 1) {
                    chkinput = false;
                }else{
                    chkinput = chkinput && array[index].validity.valid;
                }
                console.log(chkinput);
            });

            if(objButton.attr('data-id') == 'create-step2'){
                var txt_pc = $('#create-postcode').val();
                if(txt_pc != ''){
                    if( isNumbers(txt_pc) != true ){
                        $('#create-postcode').css('border-bottom','1px solid red');
                        $('<div class="col-md-12 p-0" style="font-size: 14px;color:red;">'+gettext('Numbers only')+'</div>').insertAfter("#create-postcode");
                        chkinput = false;
                    }
                }

                var dt = $('#create-birthday').val();
                if( diff_years(dt) < 18 ){
                    chkinput = false;
                    $('#date_txterrer').text(gettext('Your age is less than 18 years old.'));
                }
                
                if ($('#create-legalAge').prop('checked') == true){
                    $('#legalAge-error').text('');
                }else{
                    $('#legalAge-error').text('Missing legal age check.');
                    chkinput = false;
                }
            }

            if (chkinput) {
                $('.' + objButton.attr('data-value')).removeClass('hidden');
                $('.' + objButton.attr('data-id')).addClass('hidden');
                if(objButton.attr('data-id') == 'create-step1'){
                    $('.step2').removeClass('number-b');
                    $('.step2').addClass('number-w');
                    $('.process-box>.line').css('background','linear-gradient(to right,  rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.6), black, black, black)');
                }else{
                    $('.process-box>.line').css('background','linear-gradient(to right,  rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6), black, black, black)');
                    $('.step3').removeClass('number-b');
                    $('.step3').addClass('number-w');
                    var form = $('#create-user');
                    var userTel = form.find('#create-phonePrefix').val()+''+form.find('#create-mobile').val();
                    userTel = userTel.replace("+", "");
                    document.cookie = "userTel="+userTel+"";
                    var cookieTelVal = document.cookie.replace(/(?:(?:^|.*;\s*)userTel\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                    $.ajax({
                        type: "POST",
                        url: "/api/sms_verify_request",
                        data: {
                            number: cookieTelVal
                        },
                        dataType: "json",
                        cache: false,
                    }).done(function (data) {
                        var request_id = data.request_id;
                        $('#create-mobile').css('border-bottom','1px solid #B0BEC5');
                        if (typeof data.error_text === "undefined") {
                            $('#sms-error').text('');
                            makeClearCookie();
                            document.cookie = "request_id="+request_id+"";
                            $('#phone-icon').html('<img src="/static/images/icons/green-pass.png" class="vali-icon m-top">');
                            console.log(request_id);
                        }else{
                            console.log('sms error status : '+data.status);
                            console.log(data.error_text);
                            if(data.status != 10){
                                $('.step1').removeClass('number-b');
                                $('.step1').addClass('number-w');
                                $('.step2,.step3').removeClass('number-w');
                                $('.step2,.step3').addClass('number-b');
                                $('.process-box .line').css('background', 'linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), black, black, black)');
                                $('.create-step3').addClass('hidden');
                                $('.create-step1').removeClass('hidden');
                                $('#sms-error').text(data.error_text);
                                $('#phone-icon').html('<img src="/static/images/icons/red-error.png" class="vali-icon m-top">');
                            }else{
                                cancelAndResend(request_id);
                            }
                        }
                    });
                }
            }
        } else {
            console.log('else',objButton.val());
            $('.' + objButton.attr('data-value')).removeClass('hidden');
            $('.' + objButton.attr('data-id')).addClass('hidden');
            $('.process-box>.line').css('background','linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), black, black, black)');
            $('.step2').removeClass('number-w');
            $('.step2').addClass('number-b');
            $('.step1').removeClass('number-b');
            $('.step1').addClass('number-w');
        }

    }

    function Inputvalidity(e) {
        // console.log($(this)[0].id);
        if ($(this)[0].id == 'create-password') {
            if ($(this).val().length > 7 && $(this).val().length < 21) {
                $('li.Policy1').removeClass('notPolicy');
            } else {
                $('li.Policy1').addClass('notPolicy');
            }
            if ($(this).val().length > 7 && this.checkValidity()) {
                $('li.Policy2').removeClass('notPolicy');
            } else {
                $('li.Policy2').addClass('notPolicy');
            }
        } else if ($(this)[0].id == 'create-username') {
            if ($(this).val().length == 0) {
                document.getElementById("create-username").setCustomValidity('');
            }
        } else if ($(this)[0].id == 'create-email') {
            if ($(this).val().length == 0) {
                document.getElementById("create-email").setCustomValidity('');
            }
        } else if ($(this)[0].id == 'create-firstname') {
            if ($(this).val().length == 0) {
                document.getElementById("create-firstname").setCustomValidity('Please tell me your name.');
            } else {
                document.getElementById("create-firstname").setCustomValidity('');
            }
        } else if ($(this)[0].id == 'create-lastname') {
            if ($(this).val().length == 0) {
                document.getElementById("create-lastname").setCustomValidity('Please tell me your name.');
            } else {
                document.getElementById("create-lastname").setCustomValidity('');
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninput = Inputvalidity;
        }
    });
</script>
