{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block content %}

<script src="{% static 'libs/jquery.date-dropdowns.min.js' %}" type="text/javascript"></script>
<script>
    var lastlogin = JSON.parse(localStorage.getItem('returning-user'));
    function popupwindow(url, title, w, h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
</script>
<script src="{% static 'js/auth/register_mobile.js' %}" type="text/javascript"></script>
<style>
.ConfirmationPageText {
    float: left;
    margin-left: 10px;
    font-weight: 700;
}

.ConfirmationPageText span {
    font-size: 20px;
    float: left;
    margin-top: 6px;
    position: relative;
}

.ConfirmationPageText span:before {
    content: "";
    border: 2px solid #1da5d2;
    border-radius: 50%;
    font-size: 30px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -4px;
    left: -11px;
}

.ConfirmationPageText p {
    font-size: 16px;
    font-weight: 700;
    text-indent: 15px;
    float: left;
    margin-left: 14px;
    margin-bottom: 0;
}

.panel-heading.active .ConfirmationPageText span:before {
    border: 2px solid #71788b;
}

.panel-heading {
    padding: 0;
    border:0;
}

.panel-title a{
    display:block;
    color:#1da5d2; 
    text-decoration:none;
}


.panel-heading.active h4 a{
    color:#595d68;  
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    font-weight: 200;
    font-size: 12px;
    margin-top: 8px;
}

.pd-wd-cancel {
    font-size: 10px;
    cursor: pointer;
    padding-left: 25.5px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 

.sub-page-container.flex-column {
    background-color:#fff;
}

.sub-page-container.flex-column.active {
    background-color:#f5f5f5;
}

</style>

<div class="container">
    <div class="row">
            
        <div class="sub-page-content col-md-12">
            <div class="sub-page-header">
                <span>
                {% trans 'LANG_REGSTRATION'|title %}
                </span>
            </div>

            <div  class="sub-page-wrapper">
                <div class="sub-page-container col d-flex flex-column" style="margin:10px 0 0 0;padding: 15px;border-radius: 0;">
                    &nbsp;
                </div>
            </div>

            <form id="create-user-mobile">
            {% csrf_token %}

                <!-- start accordion -->
                <div id="regis-accordion">

                    <!-- start 1 -->
                    <div class="sub-page-wrapper">
                        <div class="sub-page-container col d-flex flex-column active" style="margin:3px 0 0 0;border-radius: 0;">
                            <div class="panel panel-default">
                                <div class="panel-heading active" role="tab" id="heading1">
                                    <h4 class="panel-title mg-bt0">
                                        <a role="button" data-toggle="collapse" data-parent="#regis-accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <div class="ConfirmationPageText custom-title-page mg-bt0">
                                                <span>1</span>
                                                <p style="width:85%;">{% trans 'LANG_ACCOUNT'|title %}</p>
                                                <p style="width:85%;">{% trans 'LANG_INFOMATION'|title %}</p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#regis-accordion" style="float: left;width: 100%;padding-top: 10px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="create-step1">
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <div class="account-register">
                                                                <div class="col-md-12 pd-lr-0">
                                                                    <input class="form-control input-text create-step1" id="m-create-username" name="username" type="text" placeholder="{% trans 'LANG_USERNAME' %}">
                                                                </div>
                                                                <div class="col-md-12 pd-lr-0">
                                                                    <div class="username-error" style="font-size: 14px;color:red;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <div class="account-register">
                                                                <div class="col-md-12 pd-lr-0">
                                                                    <input class="form-control input-text create-step1" id="m-create-email" name="email" type="text" placeholder="{% trans 'LANG_E-MAIL_ADDRESS' %}">
                                                                </div>
                                                                <div class="col-md-12 pd-lr-0">
                                                                    <div class="msg" style="font-size: 14px;color:red;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <input class="form-control input-text create-step1" id="m-create-password" name="m-create-password" type="password" placeholder="{% trans 'LANG_CREATE_YOUR_PASSWORD' %}">
                                                                </div>
                                                                <div id="m-pass-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <input class="form-control input-text create-step1" id="m-confirm-password" name="confirm-password" type="password" placeholder="{% trans 'LANG_CONFIRM_PASSWORD' %}">
                                                                </div>
                                                                <div id="m-re-pass-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <input class="form-control input-text create-step1" id="m-create-bank" name="create-bank" type="text" placeholder="{% trans 'LANG_BANK_OR_EWALLET_ACCOUNT_NUMBER' %}">
                                                                </div>
                                                                <div id="m-bank-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <select class="form-control input-text create-step1" id="m-ddlCurrency" name="ddlCurrency" >
                                                                        <option>{% trans 'LANG_EUR' %}</option>
                                                                    </select>
                                                                </div>
                                                                <div id="m-zone-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <select class="form-control input-text create-step1" id="m-create-question" name="create-question" >
                                                                        <option value="">{% trans 'LANG_SELECT_SECURITY_QUESTION' %}</option>
                                                                        <option value="My favourite bet?">{% trans 'LANG_MY_FEVOURITE_BET' %}</option>
                                                                        <option value="My favourite colour?">{% trans 'LANG_MY_FEVOURITE_COLOUR' %}</option>
                                                                        <option value="My favourite horse?">{% trans 'LANG_MY_FEVOURITE_HORSE' %}</option>
                                                                        <option value="My favourite place?">{% trans 'LANG_MY_FEVOURITE_PLACE' %}</option>
                                                                        <option value="My favourite superhero?">{% trans 'LANG_MY_FEVOURITE_SUPERHERO' %}</option>
                                                                        <option value="My favourite team?">{% trans 'LANG_MY_FEVOURITE_TEAM' %}</option>
                                                                        <option value="My middle name?">{% trans 'LANG_MIDDLE_NAME' %}</option>
                                                                        <option value="My mother's maiden name?">{% trans "LANG_MOTHER_MAIDEN_NAME" %}</option>
                                                                        <option value="My pet's name?">{% trans "LANG_PET_NAME" %}</option>
                                                                    </select>
                                                                </div>
                                                                <div id="m-question-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="row">
                                                        <div class="col-md-12 col-12 pls pd-lr-0">
                                                            <div class="account-register" style="margin-bottom: 10px;">
                                                                <div class="col-md-12">
                                                                    <input class="form-control input-text create-step1" id="m-create-answer" name="create-answer" type="text" placeholder="{% trans 'LANG_YOUR_ANSWER' %}">
                                                                </div>
                                                                <div id="m-question-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 1 -->
                    <!-- start 2 -->
                    <div class="sub-page-wrapper">
                        <div class="sub-page-container col d-flex flex-column" style="margin:3px 0 0 0;border-radius: 0;">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title mg-bt0">
                                        <a role="button" data-toggle="collapse" data-parent="#regis-accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                            <div class="ConfirmationPageText custom-title-page mg-bt0">
                                                <span>2</span>
                                                <p style="width:85%;">{% trans 'LANG_PERSONAL'|title %}</p>
                                                <p style="width:85%;">{% trans 'LANG_INFOMATION'|title %}</p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#regis-accordion" style="float: left;width: 100%;padding-top: 10px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-12">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input class="form-control input-text create-step1" id="m-create-firstname" name="create-firstname" type="text" placeholder="{% trans 'LANG_FIRST_NAME' %}">
                                                            </div>
                                                            <div class="col-md-12 pd-lr-0">
                                                                <div class="firstname-error" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-12">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input class="form-control input-text create-step1" id="m-create-surname" name="create-surname" type="text" placeholder="{% trans 'LANG_SURNAME' %}">
                                                            </div>
                                                            <div class="col-md-12 pd-lr-0">
                                                                <div class="surname-error" style="font-size: 14px;color:red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-md-12 col-12">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input type="hidden" id="m-create-birthday">
                                                                <div class="form-group" style="margin:0;">
                                                                        <!-- <select id="create-birth-day" class="form-control input-text create-step2" name="birth_date"></select>
                                                                        <select id="create-birth-month" class="form-control input-text create-step2" name="birth_month"></select>
                                                                        <select id="create-birth-year" class="form-control input-text create-step2" name="birth_year"></select> -->
                                                                </div>
                                                                <div id="m-date_txterrer" style="font-size:14px;color:red;margin:0px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-md-8 col-8">
                                                        <div class="account-register" style="margin-bottom:10px;">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input class="form-control input-text create-step1" id="m-create-nationalID" name="create-nationalID" type="text" placeholder="{% trans 'LANG_NATIONAL_ID_NUMBER' %}">
                                                            </div>
                                                            <div class="nationalID-error" style="font-size: 14px;color:red;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-4" style="padding-left:0;">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <select class="form-control input-text create-step1" id="m-create-sex" name="create-sex" >
                                                                    <option value="">{% trans 'LANG_GENDER' %}</option>
                                                                    <option value="M" title="Mr.">{% trans 'LANG_MALE' %}</option>
                                                                    <option value="F" title="Ms.">{% trans 'LANG_FEMALE' %}</option>
                                                                </select>
                                                            </div>
                                                            <div class="sex-error" style="font-size: 14px;color:red;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-md-12 col-12">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input class="form-control input-text create-step1" id="m-create-address" name="create-address" type="text" placeholder="{% trans 'LANG_ADDRESS' %}">
                                                            </div>
                                                            <div class="address-error" style="font-size: 14px;color:red;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row" style="margin-bottom: 10px;">
                                                    <div class="col-md-12 col-12">
                                                        <div class="account-register">
                                                            <div class="col-md-12 pd-lr-0">
                                                                <input class="form-control input-text create-step1" id="m-create-city" name="create-city" type="text" placeholder="{% trans 'LANG_CITY_OR_TOWN' %}">
                                                            </div>
                                                            <div class="city-error" style="font-size: 14px;color:red;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-md-12 col-12 pls pd-lr-0">
                                                        <div class="account-register" style="margin-bottom: 10px;">
                                                            <div class="col-md-12">
                                                                <select class="form-control input-text create-step1" id="m-create-country" name="create-country"></select>
                                                            </div>
                                                            <div id="m-country-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-md-12 col-12 pls">
                                                        <div class="col-4 pd-lr-0" style="float: left;" >
                                                            <div class="account-register">
                                                                <div class="col-md-12 col-9 prefix" style="padding: 0;">
                                                                    <select id="m-create-phonePrefix" class="form-control input-text create-step1" name="phonePrefix"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-8 mg-rights pd-lr-0" style="float: left;">
                                                            <div class="account-register">
                                                                <div class="col-12 prefix" style="padding: 0;">
                                                                    <input class="form-control input-text create-step1" id="m-create-mobile" name="mobile" type="text"placeholder="{% trans 'LANG_MOBILE' %}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="m-phone-error" class="col-md-12 col-9 pd-r-0" style="font-size: 14px;color:red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 2 -->
                    
                    <div class="sub-page-wrapper">
                        <div class="sub-page-container col d-flex flex-column" style="background-color:#fff;margin:3px 0 0 0;border-radius: 0;">
                            <div class="panel panel-default">
                                <div class="col-12">
                                    <div class="row consent">
                                        <div class="col-md-12 col-12" style="margin-bottom: 10px;">
                                            <p style="margin-bottom: 0px;padding: 3px 0;font-weight: 600;font-size: 16px;">{% trans 'LANG_EMAIL'|title %}</p>
                                            <div class="account-register" style="margin-top:0;">
                                                <div style="width: 80px;float: left;">
                                                    <input type="radio" id="m-consent-email-yes" name="m-consent-email" value="true">
                                                    <label for="m-consent-email-yes">{% trans 'LANG_YES'|upper %}</label>
                                                </div>
                                                <div style="width: auto;float: left;">
                                                    <input type="radio" id="m-consent-email-no" name="m-consent-email" value="false">
                                                    <label for="m-consent-email-no">{% trans 'LANG_NO'|upper %}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <p style="margin-bottom: 0px;padding: 3px 0;font-weight: 600;font-size: 16px;">{% trans 'LANG_SMS'|upper %}</p>
                                            <div class="account-register" style="margin-top:0;">
                                                <div style="width: 80px;float: left;">
                                                    <input type="radio" id="m-consent-sms-yes" name="m-consent-sms" value="true">
                                                    <label for="m-consent-sms-yes">{% trans 'LANG_YES'|upper %}</label>
                                                </div>
                                                <div style="width: auto;float: left;">
                                                    <input type="radio" id="m-consent-sms-no" name="m-consent-sms" value="false">
                                                    <label for="m-consent-sms-no">{% trans 'LANG_NO'|upper %}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- end accordion -->
            </form>
            <div class="col-12" align="center" style="margin:25px 0;">
                <input type="button" id="m-create-user" class="btn btn-yellow-white" style="width: 100%;padding: 10px;font-size: 20px;" value="{% trans 'LANG_REGISTER'|title %}">
            </div>   

        </div>
    </div>
</div>


<script type="text/javascript">

    function makeClearCookie() {
        document.cookie = 'name=request_id; path=/; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en-gb; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/en-ca; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/fi; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/nb; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/sv; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/es; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/de; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/it; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/zh; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/ko; expires=' + new Date(0).toUTCString();
        document.cookie = 'name=request_id; path=/ja; expires=' + new Date(0).toUTCString();
    }

    $(document).ready(function(){
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });

        $("body").on('click', '.sub-page-container.flex-column', function() {
            if( $(this).hasClass('active') ){
                $(this).removeClass('active');
            }else{
                $('.sub-page-container.flex-column').removeClass('active');
                $(this).addClass('active');
            }
        });
        
        jQuery(function ($) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!

            var yyyy = today.getFullYear();
            if(dd < 10){
                dd='0'+dd;
            }
            if(mm < 10){
                mm='0'+mm;
            }
            var today = yyyy+'-'+mm+'-'+dd;
            $("#m-create-birthday").dateDropdowns({
                defaultDate: today,
                displayFormat: "dmy",
                daySuffixes: false,
                monthSuffixes: false,
                monthFormat: "numeric",
                dayLabel: false,
                monthLabel: false,
                yearLabel: false,
                dropdownClass:'form-control',

            });

        });

        function isNumbers(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
    });
   
</script>
{% endblock %}
