{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block content %}

<div class="container regis-success" align="center">

    <h2 style="margin-top: 80px;">
        <i class="glyphicon glyphicon-ok" aria-hidden="true" style="color:#029A3A;"></i> Registration successful
    </h2>
    <div class="alert alert-warning custom" role="alert" style="text-align:left;margin-top: 30px;">	
        Please check your email and activate
    </div>
</div>

{% endblock content %}
