{% extends "admin/change_list.html" %}
{% load timetags %}
<div>
    <form id='approve_status_from' method="POST">
        {% block object-tools-items %}
            <div>
                    {% csrf_token %}
                    <button id="sync-vendors" class = "btnUpdateVenders" type="submit" >Update Venders</button>
            </div>
    </form>
</div>
   
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/libs/autobahn/autobahn.min.js"></script>
    <script type="text/javascript" src="/static/js/callsystem.js"></script>
    
    {% if EVERYMATRIX %}
        <script type="text/javascript">
            window._EM = {
                url: '{{ EVERYMATRIX.url|escapejs }}',
                domain: '{{ EVERYMATRIX.domain|escapejs }}',
                language_code: '{{ LANGUAGE_CODE|escapejs }}'
            }
        </script>
    {% endif %}
    
    <script src="/static/js/utilities.js"></script>
    
    <script src="/static/js/super_game.js?t={{ timestamp|call_time }}"></script>
    <script type="text/javascript" src="/static/js/sweetalert/sweetalert.min.js"></script>
    <link href="/static/css/sweetalert/sweetalert.css" rel="stylesheet" />
    

<script>
        // var $ = django.jQuery;
        $( document ).ready(function($) {
            // $(".btnStatusApprove").click(function(){
            //     username_Input =$('#user_status_userid').val();
            //     var url = '/idenfy/requestContractApprove/' + '?username='+username_Input;
            //     $.get( url, function( data ) {
                    
            //     });
            // }); 

            $("#sync-vendors").click(function(){
                callVendorsforCMS();
            });

        });

    </script>
    {{ block.super }}
    {% endblock object-tools-items %}

