#login {
    padding-top: 0px;
    align-self: flex-end;

    > div {
        display: flex;
    }

    .login-container {
        > div {
            vertical-align: bottom;
        }
    }

    .input-login {
        width: 200px;
        border: 0px;
        padding: 5px;
        margin: 0rem 1rem 0rem 0rem;
        color: $font-color;
    }
    
    .input-login:active,
    .input-login:focus {
        border: 0px;
        border-bottom: 1px solid $active-color;
        outline: 0;
    }
    
    .btnLogin{
        width: 170px;
        height: 30px;
        font-size: 14px;
        color: #fff !important;
        border: none !important;
        background-color: #000;
    }
}

#loginData {
    display: flex;

    > div {
        align-self: center;
    }

    .user {
        .navbar-dropdown-list {
            .header-menu.dropdown-menu {
                left: calc(50% - 120px);
                min-width: 15rem;
            }
        }
    }
}