@mixin transform-origin($val1, $val2:null) {
  -webkit-transform-origin: $val1 $val2;
  -moz-transform-origin: $val1 $val2;
  -ms-transform-origin: $val1 $val2;
  transform-origin: $val1 $val2;
}

@mixin rotate ($degree:90) {
    -webkit-transform: rotate(#{$degree}deg);
    -moz-transform: rotate(#{$degree}deg);
    -ms-transform: rotate(#{$degree}deg);
    transform: rotate(#{$degree}deg);
    @include transform-origin(50% 50%);
}

@mixin transition ($properties, $time:null, $easing:null) {
  -webkit-transition: $properties $time $easing; 
  -moz-transition: $properties $time $easing; 
  -o-transition: $properties $time $easing; 
  transition: $properties $time $easing;
}

@mixin uniclubFont {
    font-family: 'thecustom' !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
    text-indent: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}