#registerModal .modal-body {
    padding: 1.8rem;
}

.date-dropdowns {
    overflow: hidden;
}

.regis-txt-error {
    font-size: 10px;
    color:red;
    text-transform: uppercase;
    height: 14.4px;
}

.sub-page-header {
    margin-bottom: 0;
}

.sub-page-header > .bg-winner .winner-bar {
    margin-left: 160px;
}

@media (min-width: 576px){
    #registerModal .modal-sm {
        max-width: 440px ;
    }
}

.create-next , .create-submit {
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

#create-step2 {
    height: 520px;
    overflow: auto;
}

#loginModal, #balanceModal {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    pointer-events: none;
    z-index: 9997;
    padding-left: 40px;
    padding-right: 40px;

    &:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: calc(100% - 85px);
        display: block;
        border-color: transparent;
        border-style: solid;
        border-bottom-color: #fff;
        border-width: 0 .5rem .5rem .5rem;
    }
    
    &.active {
        display: block;
    }

    .modal-title {
        font-weight: 900;
    }

    .modal-content {
        padding: 5px 20px;
    }

    .btnLogin{
        width: 100%;
        height: 42px;
        background: url(../images/login_button.png) no-repeat;
        background-size: 100% 84px;
        background-position: 0 0;
        line-height: 40px;
        font-size: 14px;
        font-weight: 900;
        color: #3c362a !important;
        box-shadow: none !important;
        border: none !important;
        @include transition(none);

        &:hover{
            background-position: 0 -40px;
        }
        
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -14px;
            margin-right: -5px;
            width: 65px;
            height: 37px;
            background: url(../images/login_button_after.png) no-repeat top left;
        }
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
    float:left;
}

.submit-box {
    width:100%;
    position:absolute;
    bottom:20px;
}

select.day , select.month , select.year {
    border: 1px solid #ced4da;
}
#registerModal .col-md-12.col-12 {
    margin-bottom: 5px;
}

#loginModal .col-md-12 {
    margin-bottom: 1rem;
}

.col1-mg-right {
    margin-right: 90px;
}

.col2-mg-right {
    margin-right: 80px;
}

.regis-bt-foot {
    margin-top: 45px;
    padding: 0 15px;
}

.headerTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
    margin-bottom: 15px;
}

.close-box button:hover {
    background: none !important;
}

// start consent
.consent input[type="radio"]:checked,
.consent input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.consent input[type="radio"]:checked + label,
.consent input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.consent input[type="radio"]:checked + label:before,
.consent input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    background: #fff;
}
.consent input[type="radio"]:checked + label:after,
.consent input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: $light-brown;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.consent input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.consent input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#registerModal .modal-title span {
  color: #000000 !important;
}

#registerModal .modal-header button, 
#loginModal .modal-header button ,
#gameSelectPopup .modal-header button {
    opacity: 1 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    outline: none !important;
    position: absolute;
    right: 0;
    margin: -1rem 0;
}

#depositModal .modal-header button {
    background: #aeaeae !important;
    opacity: 1 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    margin-top: -10px !important;
    margin-right: -2px !important;
    outline: none !important;
 }

#registerModal .modal-header button span,
#loginModal .modal-header button span, 
#depositModal .modal-header button span ,
#gameSelectPopup .modal-header button span
{
    color: #595d68 ;
    font-size: 40px;
    font-weight: 200;
    top: 10px;
    right: 15px;
    position: absolute;
}

.process-box{
    width: 420px;
    right: 90px;
    margin-top: 13px;
    position: absolute;

    .line{
        width: 420px;
        height: 15px;
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
        float: right;
        border-radius: 0 11px 11px 0;
    }
}

@media only screen and (max-width: 797px) {
    #create-user .outer {
        margin: 0 !important;
    }

    #create-user .prefix {
        max-width: 100% !important;
    }

    #create-user .headerTitle {
        margin-top: 15px;
    }

    #create-user .prefix-no {
        padding-right: 15px !important;
    }

    .submit-box {
        position: relative !important;
        bottom: 0 !important;
        margin-top: 25px;
    }

    body #registerModal .winner-bar {
        margin-left: 170px !important;
    }

    body #registerModal .modal-body {
		padding: 0 !important;
		padding-bottom: 25px !important;
	}
}

@media only screen and (min-width: 996px) and (max-width: 1250px) {
    .process-box {
        width: 280px !important;
        right: 80px !important;
    }

    .process-box .line {
        width: 280px !important;
    }

    .number-w.step1 {
        margin-left: 45px !important;
    }

    .number-b.step2 {
        margin-left: 125px !important;
    }

    .number-b.step3 {
        margin-left: 205px !important;
    }

    .number-w.step2 {
        margin-left: 125px !important;
    }

    .number-w.step3 {
        margin-left: 205px !important;
    }
}

@media only screen and (max-width: 750px) {

    .regiser-modal .modal-dialog .modal-content .account-register input.form-input:invalid,
    .regiser-modal .modal-dialog .modal-content .account-login input.form-input:invalid,
    .login-modal .modal-dialog .modal-content .account-register input.form-input:invalid,
    .login-modal .modal-dialog .modal-content .account-login input.form-input:invalid {
        border-bottom: 2px solid red !important;
    }

    #registerModal .bt-foot{
        border: 2px solid $yellow !important;
        background: #111 !important;
        border-radius: 0 !important;
    }

    .regiser-modal .modal-dialog .modal-content .block-checkbox .checkmark,
    .login-modal .modal-dialog .modal-content .block-checkbox .checkmark {
        background: #fff !important;
    }

    .row.btn-login-box,.row.txt-login-again{
        display: none;
    }

    #shw_pass, .right-box{
        display:none;
    }

    #registerModal .col-md-12.col-12.pls{
        margin-bottom:15px !important;
    }

    .pls-law{
        font-weight: 400 !important;
    }

    .pdt-10{
      padding-top:10px;
    }

    .mgbt-2rem{
      margin-bottom: 2rem;
    }

    .create-step2 .col-4{
      padding-right: 0;
      padding-left: 0;
    }

    .create-step2 .col-8{
      padding-right: 0; 
    }

    .col1-mg-right, .col2-mg-right{
      margin-right: 0 !important
    }

    #registerModal .modal-header,
    #loginModal .modal-header{
        border: none !important;
        border-radius: 0;
        height: 60px !important;
    }
}

@media only screen and (min-width: 416px) and (max-width: 800px) {
    .regiser-modal .modal-dialog.modal-lg, .login-modal .modal-dialog.modal-lg {
      max-width: 90%;
    }
    .process-box, .process-box .line {
      width: 280px !important;
    }
    .number-w.step1 {
      margin-left: 45px !important;
    }
    .number-w.step2 {
      margin-left: 125px !important;
    }
    .number-b.step2 {
      margin-left: 125px !important;
    }
    .number-b.step3 {
      margin-left: 205px !important;
    }
    .number-w.step3 {
      margin-left: 205px !important;
    }
    .col1-mg-right {
      margin-right: 60px !important;
    }
    .col2-mg-right {
      margin-right: 50px !important;
    }
    .regiser-modal .modal-dialog .modal-content .right-box, .login-modal .modal-dialog .modal-content .right-box {
      min-height: 500px !important;
    }
}

@media only screen and (max-width: 416px) {

    #registerModal .modal-dialog {
        max-width: 90%;
        margin: 1.5rem auto !important;
    }

    .pd-r-0 {
        padding-right: 15px !important;
    }

    .date-dropdowns select.form-control{
        padding: 5px !important;
        color: #595d68 !important;
        border-bottom: 1px solid #B0BEC5;
        border: 0 !important;
        width: calc(33% - 10px) !important;
        float: left !important;
        margin: 0 1% !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
    }

    #registerModal .account-register select.day,
    #registerModal .account-register select.month,
    #registerModal .account-register select.year {
        border: 1px solid #fff !important;
    }

    #registerModal .regis{
        border: 2px solid $green !important;
        background: #111 !important;
        color:#fff !important;
        border-radius: 0 !important;
    }
}

.date-dropdowns select.form-control{
    padding: 5px 0 !important;
    color: #595d68 !important;
    border-bottom: 1px solid #B0BEC5;
    width: calc(33% - 10px) !important;
    float: left !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.date-dropdowns select.form-control.day ,
.date-dropdowns select.form-control.month {
    margin-left: 0 !important;
    margin-right: 15px;
}