{% load i18n %}
{% load staticfiles %}
<style>

    @font-face {
        font-family: Glyphicons Halflings;
        src: url("/static/fonts/glyphicons-halflings-regular.eot");
        src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix")
                format("embedded-opentype"),
            url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"),
            url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        margin-right: 10px;
    }

    .glyphicon-remove:before {
        content: "\e014";
    }

    .glyphicon-ok:before {
        content: "\e013";
    }

    #ds-confirm-table td {
        padding: 10px 15px;
    }
    
    #depositModal .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid #495057;
        background: #fff;
        margin-top:1px;

}

    #depositModal .checkmark.active {
        border: 1px solid #029A3A !important;
        background: #029A3A !important;
    }

    #depositModal .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        
        height: 10px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #depositModal .checkmark.active:after, #depositModal .checkmark.active::after {
        content: "";
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #deposit-bonus-box,#deposit-new-card {
        margin-top: 20px;
        overflow: hidden;
    }

    .account-register{
        margin-top: 20px;
    }

    .account-register span {
        color: #000 !important;
        font-size: 16px !important;
    }

    #bank_pick , .dd-select , .dd-options {
        width: 100% !important;
    }

    .dd-options {
        box-shadow: none;
        border: 1px solid #B0BEC5;
    }

    .dd-select{
        background: unset;
        border: none;
        border-bottom: 1px solid #B0BEC5;
    }

    .dd-selected , .dd-selected:hover , .dd-option:hover , .dd-option-selected {
        background: #fff !important;
    }

    .dd-selected-image {
        max-width: unset !important;
        height: 44px !important;
    }

    .dp-amount{
        background: #fdeec8;
        border: 2px solid #ffbd00;
        border-radius: 4px;
        padding: 5px;
        /* width: 200px; */
        font-size: 24px;
        font-weight: 600;
        color: #ffbd00;
        line-height: 1;
        cursor: pointer;
    }
    .dp-amount.active {
        background: #029A3A;
        border: 2px solid #029A3A;
        color: #fff;
    }

    #amount {
        background: #fff !important;
    }

    .account-register.foot{
        margin-top:50px;
        padding: 1rem;
        background: #f4f4f5;
    }

    .go-deposit{
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        background: #029A3A;
        border: 2px solid #029A3A;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ok-deposit{
        width: 150px;
        padding: 7px 10px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        background: #029A3A;
        border: none;
        border-radius: 0;
        cursor: pointer;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
    }

    .class_gamingAccountID, .class_currency, .class_bonusCode, .class_MonitoringSessionId {
    display:none;
    }
    #credit-card-cvc-wrapper , #credit-card-number-wrapper { height:30px; }
    #credit-card-number-wrapper{overflow:hidden;}
    #deposit_step2,#deposit_step3 { display:none;}

</style>
<script src="{% static 'js/auth/register.js' %}" type="text/javascript"></script>

<!-- Modal -->
<div class="modal fade deposit-modal" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="create-step1" id="exampleModalLabel" style="margin-bottom: 0;line-height: 1.5;">
                <span style="color: #000;">{% trans 'LANG_DEPOSIT'|upper %}&nbsp;&nbsp;</span>
            </h5>
            <div class="close-box">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="">
        <form class="" id="depositForm" name="depositForm" onsubmit="return false;">
            <div id="deposit_screen"></div>
        </form>
        <div id="deposit_step2">
          <form class="" id="depositPrepareForm" name="depositPrepareForm" onsubmit="return false;">
              <div id="deposit_screen_prepare"></div> 
          </form>
        </div>
        <div id="deposit_step3">
          <form class="" id="depositConfirmForm" name="depositConfirmForm" onsubmit="return false;">
              <div id="deposit_screen_confirm"></div>
          </form>
        </div>
        <div id="updateresult"></div>
    </div>
</div>
</div>
</div>

<script>
    $(document).ready(function(){

        $("body").on( "click", "#deposit-bonus-box label.block-checkbox", function() {  
            $('#deposit-bonus-box').find('span.checkmark').removeClass('active');
            $(this).find('span.checkmark').addClass('active');
        });

        $("body").on( "click", "#deposit-new-card label.block-checkbox", function() {  
            $('#deposit-new-card').find('span.checkmark').removeClass('active');
            $(this).find('span.checkmark').addClass('active');
        });

        $("body").on( "click", "#depositModal .dp-amount", function() {  
            $('#depositModal .dp-amount').removeClass('active');
            $(this).addClass('active');
            var amount = $(this).text();
            var amountDecimal = parseFloat(Math.round(amount * 100) / 100).toFixed(2);
            $('#amount').val(amount);
            $('#cal-deposit-amount').text(amountDecimal);
            $('#cal-deposit-total').text(amountDecimal);
        });

        // $('#amount').keypress(function(){
        //     console.log('amount',this.val());
        // });
        $("body").on( "keyup keypress blur change", "#depositModal #amount", function() {  
            // console.log('key up',$(this).val());
            $('#depositModal .dp-amount').removeClass('active');
            var amountDecimal = parseFloat(Math.round($(this).val() * 100) / 100).toFixed(2);
            if($(this).val() == 50){
                $('#depositModal .dp-amount.m1').addClass('active');
            }else if($(this).val() == 80){
                $('#depositModal .dp-amount.m2').addClass('active');
            }else if($(this).val() == 150){
                $('#depositModal .dp-amount.m3').addClass('active');
            }
            $('#cal-deposit-amount').text(amountDecimal);
            $('#cal-deposit-total').text(amountDecimal);
        });

        $("body").on( "click", ".ok-deposit", function() {  
            $('#deposit_screen_confirm').html('');
            window.location.href = window.location.href;
        });

        $("body").on( "click", "#depositModal .close-box button", function() {  
            $('#deposit_screen').html('');
            $('#deposit_screen_prepare').html('');
            $('#deposit_screen_confirm').html('');
        });
        
    });

</script>
