{% extends "login_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block content %}
<script type="text/javascript">
    var slug = "{{ slug }}";
</script>
<script src="{% static 'js/dashboard/withdraw_screen.js' %}"></script>
<style>
.class_gamingAccountID, .class_currency, .class_MonitoringSessionId {
 display:none;
}

#withdraw_step2,#withdraw_step3 { display:no-ne;}
</style>
<div  class="container full-width-screen">
<h1>{% trans "LANG_WITHDRAW" %}</h1>

<form class="" id="withdrawForm" name="withdrawForm" onsubmit="return false;">
    <div id="withdraw_screen"></div>
</form>

<div id="withdraw_step2">
  <form class="" id="withdrawPrepareForm" name="withdrawPrepareForm" onsubmit="return false;">
      <div id="withdraw_screen_prepare"></div>
  </form>
</div>

<div id="withdraw_step3">
  <form class="" id="withdrawConfirmForm" name="withdrawConfirmForm" onsubmit="return false;">
      <div id="withdraw_screen_confirm"></div>
  </form>
</div>
<div id="updateresult"></div>
</div>
{% endblock %}
