{% load i18n %} 
{% load staticfiles %}
{% load sekizai_tags %} 
{% load thumbnail %} 
{% load casino_campaigns_tags %}
{% url 'login' as login_url %}
<style>
    .btn-cta {
        color: #000;
        background-color: #FBBF00;
        border-color: #FBBF00;
        text-transform: uppercase;
        font-weight: 600;
    }

    .btn-cta:hover {
        color: #000;
    }

    .content-cta {
        padding: 1rem
    }
    .content-footer.landing{
        margin-bottom: 40px;
    }
</style>

    {% with campaign as checktitle %}  
    {% comment %}  {% with campaign.title as checktitle %} {% endcomment %}
    {% show_results limit=12 slider=1 as campaign_list %} 
    {% for campaign in campaign_list %} 
    {% if campaign.title in checktitle %}
    {% comment %}{% if not campaign.title in checktitle %}{% endcomment %}
    {% if campaign.landing_page %}

    <div class="content-title landing" style="height: auto !important;background:white;text-align:center;margin-top: 0px;">
        <h1 class="title_landing" style="color:black;font-weight:bold;">{{ campaign.title }}</h1>
        {% comment %} {% if campaign.landing_page %}
        <div class="col-12" style="background:#020202;">
            {{ campaign.summary }} "{{ campaign.category }}"
        </div>
        {% endif %} {% endcomment %}
    </div>
    <div class="content-footer landing ">
        <div class="row m-0 p-0">
            <div class="col-md-6 col-12  p-0">
                <div class="content-wheel-bosus">
                    <div class='square-box box-2-1'>
                        <div class='square-content'>
                            <div class="square-thumbnail">
                                <img src="{{ campaign.image.url }}" alt="{{ campaign.subtitle }}" class="hide" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 p-0">
                <div class="content-sub">
                    <div class="content-sub-title">
                        <h3>{{ campaign.subtitle }}</h3>
                    </div>
                    <div class="content-sub-detail">
                        <span>{{ campaign.subdetail }}</span>
                    </div>
                    <div class="content-sub-cta text-center">
                        {% if not request.user.is_authenticated %} {% if campaign.cta %}
                        <a data-toggle="modal" data-target="#registerModal" class="btn btn-footer-cta">{{campaign.cta}}</a>
                        {% else %}
                        <a data-toggle="modal" data-target="#registerModal" class="btn btn-footer-cta"> {% trans 'LANG_JOIN_NOW'|upper %}</a>
                        {% endif %} {% else %}
                        <a href="/account/deposit" class="btn btn-footer-cta">{% trans 'LANG_DEPOSIT'|upper %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} 
    {% endif %} 
    {% endfor %}
    {% endwith %} 
    

    <script>
        var content_footer = $('.content-footer.landing');
        $.each(content_footer ,function(key,value){
            if(key % 2 === 0){
                $(value.children[0].children[0]).after(value.children[0].children[1]);
            }else{
                $(value.children[0].children[1]).after(value.children[0].children[0]);
            }
        })
    </script>
