{% extends "cms_templates/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load cms_tags %}
{% load menu_tags %}
{% load casino_campaigns_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% page_attribute "page_title" %} | {{ block.super }}{% endblock %}

{% block banner %}
    {% include "home/banner.html" %}
{% endblock banner %}
{% block cms_content %}
<style>
    .btnCampaign{
        background: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 0px;
        text-transform: uppercase;
        padding: 1px 5px;
        font-weight: 600;
        outline: 0;
        cursor: pointer;
    }
    .btnCampaign.active{
        color: red;
        border: 2px solid red;
    }
    .btnCampaign:hover{
        color: #ffbd00;
        border: 2px solid #ffbd00;
    }
    .btn-cta{
        color: #000;
        background-color: #FBBF00;
        border-color: #FBBF00;
        text-transform: uppercase;
        font-weight: 600;
    }
    .btn-cta:hover{
        color: #000;
    }
    .content-cta{
        padding: 1rem
    }
</style>
<script src="/static/js/dashboard/noti_promotion.js"></script>
<div class="section-content">
    <div class="container full-width-screen">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title  text-center">
                    <a href="?category=SP"><input type="button" class="btnCampaign {% if request.GET.category ==  'SP' %}active{%endif%}" value="{% trans 'LANG_SPORTS' %}"></a> / <a href="?category=CA"><input type="button" class="btnCampaign {% if request.GET.category ==  'CA' %}active{%endif%}" value="{% trans 'LANG_CASINO' %}"></a>
                </div>
                <div class="content-data">
                    <div class="row">
                        {% show_results limit=12 slider=1 category=request.GET.category as campaign_list %}
                        {% for campaign in campaign_list %}
                        {% if campaign.landing_page|lower == 'false' and campaign.language_code == LANGUAGE_CODE %}
                            <div class="col-md-3 m-0 p-1">
                                <div class="content">
                                    <div class="content-cover">
                                        <div class='square-box box-2-1'>
                                            <div class='square-content'>
                                                <div class="square-thumbnail">
                                                    <a href="{{ campaign.get_absolute_url }}">
                                                    <img src="{% thumbnail campaign.image 480x480 crop=center upscale subject_location=campaign.image.subject_location %}"
                                                        alt="{{ campaign.title }}" class="hide">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-title">
                                        <h3><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></h3>
                                    </div>
                                    <div class="content-detail">
                                        <span>{{ campaign.summary|truncatewords_html:"30"|linebreaks }}</span>
                                    </div>
                                    <div class="content-cta">
                                        {% if campaign.cta %}
                                            <a class="btn btn-cta btn-block" href="{{ campaign.get_absolute_url }}">{{campaign.cta}}</a>
                                        {% else %}
                                            <a class="btn btn-cta btn-block" href="{{ campaign.get_absolute_url }}">{% trans 'LANG_READ_MORE'|upper %}</a>
                                        {% endif %}
                                    </div>
                                    {#<div><a class="btn btn-primary" href="{{ campaign.get_absolute_url }}">{% trans "LANG_READ_MORE" %}</a></div>#}
                                </div>
                            </div>
                            {% endif %}
                            {% empty %}
                            <div class="col-12 col-md-12 m-0 p-0">
                                <div class="content text-center mt-5" style="min-height:150px">
                                    <br>
                                    <p>{% trans "LANG_NO_PROMOTIONS" %}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div  class="row">
                    <div class="col-12 col-md-12 m-0 p-0">
                        <div class="content-notfound hidden text-center mt-5" style="min-height:150px">
                            <br>
                            <p>{% trans "LANG_NO_PROMOTIONS" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var maxHeight = 0;
        // $(".section-content .content-title").each(function(){
        //     if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
        // });
        // $(".section-content .content-title").height(maxHeight);

        // var maxtHeight = 0;
        // $(".section-content .content-detail").each(function(){
        //     if ($(this).height() > maxtHeight) { maxtHeight = $(this).height(); }
        // });
        // $(".section-content .content-detail").height(maxtHeight);
        add_new_row(equalHeight);

        superImage();

        var check_campaign = $('.content-data').find('.content').length;
        if(check_campaign == 0){
            $('.content-notfound').show();
        }
    });
    function add_new_row(callback){
        var $mainElem = $('.content-data > .row'),
        $parent = $mainElem.parent(),
        $items = $mainElem.children(':gt(3)').detach();
        if ($items.length) {
            for (var i = 0; i < $items.length; i = i + 4) {
                var $row = $('<div class="row">').append($items.slice(i, i + 4));
                $parent.append($row);

            }
        }
        callback()
    }

    function equalHeight(){
        var $mainElem = $('.content-data > .row');
        $mainElem.each(function(){
            var maxHeight = 0;
            $(this).find('.content-title').each(function(){
                if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
            })
            $(this).find('.content-title').height(maxHeight-33);

            var maxHeight = 0;
            $(this).find('.content-detail').each(function(){
                if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
            })
            $(this).find('.content-detail').height(maxHeight-33);
        })
    }
</script>
{% endblock %}
