{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .treasure-game-box{
        background-image: url("{% static 'images/games/background.png'%}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10px;
    }
    .spiner{
        position: absolute;
        bottom: 0;
    }
    /* *{	margin:0;	padding:0; }

        body{
            background:#eaeaea;
            color:#fff;
            font-size:18px;
            font-family: 'Exo 2', sans-serif;
        }

        a{
            color:#34495e;	
        } */




/*WRAPPER*/
#wrapper,#wrapper-mobile{ 
	margin: 20px auto 0;	
	/* width:266px;  */
	position:relative;
}

#txt{
	color:#eaeaea;	
}


/*WHEEL*/
#wheel,#wheel-mobile{
	width:250px;
	height:250px;
	border-radius:50%;	
	position:relative;
	overflow:hidden;
	border:8px solid #fff;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
	transform: rotate(0deg);
}

/* #wheel:before,#wheel-mobile:before{
	content:'';
	position:absolute;
	border:4px solid rgba(0,0,0,0.1);
	width:242px;
	height:242px;
	border-radius:50%;
	z-index:1000;	
} */

#inner-wheel,#inner-wheel-mobile{
	width:100%;
	height:100%;
	
	-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
	-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
	-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
	-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
	transition:         all 6s cubic-bezier(0,.99,.44,.99);	
}

#pin,#pin-mobile{
	width:100%;
	height:100%;
	
	-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
	-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
	-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
	-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
	transition:         all 6s cubic-bezier(0,.99,.44,.99);	
}

#wheel div.sec,#wheel-mobile div.sec{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 130px 75px 0;
	border-color: #19c transparent;
	transform-origin: 75px 129px;
	left:50px;
	top:-4px;	
	opacity:1;
}

#wheel div.sec:nth-child(1),#wheel-mobile div.sec:nth-child(1){
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	border-color: #16a085 transparent;	
}
#wheel div.sec:nth-child(2),#wheel-mobile div.sec:nth-child(2){
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	border-color: #2980b9 transparent;	
}
#wheel div.sec:nth-child(3),#wheel-mobile div.sec:nth-child(3){
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	border-color: #34495e transparent;	
}
#wheel div.sec:nth-child(4),#wheel-mobile div.sec:nth-child(4){
	transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	border-color: #f39c12 transparent;	
}
#wheel div.sec:nth-child(5),#wheel-mobile div.sec:nth-child(5){
	transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	-moz-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	border-color: #d35400 transparent;	
}
#wheel div.sec:nth-child(6),#wheel-mobile div.sec:nth-child(6){
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	border-color: #c0392b transparent;	
}


#wheel div.sec .fa,#wheel-mobile div.sec .fa{
	margin-top: -100px;
	color: rgba(0,0,0,0.2);
	position: relative;
	z-index: 10000000;
	display: block;
	text-align: center;
	font-size:36px;
	margin-left:-15px;
	
	text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
}




#spin,#spin-mobile{
	width:68px;
	height:68px;
	position:absolute;
	top:50%;
	left:50%;
	/* margin:-34px 0 0 -34px; */
	border-radius:50%;
	box-shadow:rgba(0,0,0,0.1) 0px 3px 0px;
	z-index:1000;
	background:#fff;
	cursor:pointer;
	font-family: 'Exo 2', sans-serif;
  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;
  user-select: none;   
  transform: translate(-50%, -50%);
}


/* .spin:after{
	content:"SPIN";	
	text-align:center;
	line-height:68px;
	color:#CCC;
	text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0,0,0,0.3) ;
	position: relative;
	z-index: 100000;
	width:68px;
	height:68px;
	display:block;
} */

/* .spin:before{
	content:"";
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 28px 20px;
	border-color: transparent transparent #ffffff transparent;
	top:-12px;
	left:14px;
} */
#pin,#pin-mobile{
    width:114px;
	height:114px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-57px 0 0 -57px;
	border-radius:50%;
	/* box-shadow:rgba(0,0,0,0.1) 0px 3px 0px; */
	z-index:1000;
	/* background:#fff; */
	cursor:pointer;
	font-family: 'Exo 2', sans-serif;
	/* transition: transform 1s; */
  	/* transform: translate(-50%, -50%); */
  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;
  user-select: none;   
}

/* .pin img{
    margin: -38px 0px 0px 0px;
} */
#inner-spin,#inner-spin-mobile{
	width:54px;
	height:54px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-27px 0 0 -27px;
	border-radius:50%;
	background:red;
	z-index:999;
	box-shadow:rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset,  rgba(0,0,0,0.4) 0px 0px 5px ;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); IE6-9 fallback on horizontal gradient	
}

#spin:active #inner-spin,#spin-mobile:active #inner-spin-mobile{
	box-shadow:rgba(0,0,0,0.4) 0px 0px 5px inset;
}

#spin:active:after,#spin-mobile:active:after{
	font-size:15px;	
}



#shine,#shine-mobile{
	width:250px;
	height:250px;
	position:absolute;
	top:0;
	left:0;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.91) 9%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(9%,rgba(255,255,255,0.91)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity:0.1;
	
}



/*ANIMATION*/
@-webkit-keyframes hh {
  0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

@keyframes hh {
   0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

#spin,#spin-mobile {
  -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
}

.text-reward{
	background: rgba(203,164,139,1);
	background: -moz-linear-gradient(left, rgba(203,164,139,1) 0%, rgba(229,196,181,1) 50%, rgba(203,164,139,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,164,139,1)), color-stop(50%, rgba(229,196,181,1)), color-stop(100%, rgba(203,164,139,1)));
	background: -webkit-linear-gradient(left, rgba(203,164,139,1) 0%, rgba(229,196,181,1) 50%, rgba(203,164,139,1) 100%);
	background: -o-linear-gradient(left, rgba(203,164,139,1) 0%, rgba(229,196,181,1) 50%, rgba(203,164,139,1) 100%);
	background: -ms-linear-gradient(left, rgba(203,164,139,1) 0%, rgba(229,196,181,1) 50%, rgba(203,164,139,1) 100%);
	background: linear-gradient(to right, rgba(203,164,139,1) 0%, rgba(229,196,181,1) 50%, rgba(203,164,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cba48b', endColorstr='#cba48b', GradientType=1 );
	width: 450px;
	position: relative;
	font-weight: bold;
	color: black;
}

.swal-overlay{
	background:rgba(0,0,0,.7)	
}
.text-reward-name{
	font-size: 4rem;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 5%;
    padding: 20px 10px;
    right: 0;
    width: 450px;
    position: absolute;
    font-weight: bold;
    color: #cca68d;
}
.spin-left-box{
	/* width: 50%; */
    background-image: linear-gradient(to right, #744534, #7d4e3c, #865845, #90614d, #996b56);
    text-align: center;
    /* left: 25%; */
    position: relative;
    padding: 10px;
}

.spin-left-box span.spin-has-left{
	color: white;
	font-weight: bold;
}

.left-box{
	width: 90%;
	/* min-height: 40%; */
	/* max-height: 50%; */
	margin-top: 20px;
	padding: 2px;
	border-radius: 5px;
	background-image: linear-gradient(to right, #744534, #7d4e3c, #865845, #90614d, #996b56);
	position: sticky;
    left: 50%;
	color: white;
}
.left-box-content{
	/* min-height: 100%; */
	border: 2px solid #C1947B;
	border-radius: 5px;
	height: 400px;
	padding: 10px;
	position: relative;
}
.left-box-deposit .exp-first,.left-box-deposit .exp-second {
	width: 100%;
    height: 20px;
    border-radius: 3px;
    margin: 10px 0;
    position: relative;
    background: linear-gradient(to bottom, #1f1f1f, #2d2d2d, #3c3c3c, #4b4b4b, #5b5b5b);
}

.left-box-deposit .inner {
    width: 100%;
	float: left;
    height: 18px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 3px;
    background: linear-gradient(to right, #e5405e 0%, #ffdb3a 40%, #bdff3f 80%, #3fffa2 100%);
}

.left-box-notifications{
	position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    min-height: 50%;
    width: 90%;
	/* padding: 10px */
}
.notifacations-content-data{
	min-height: 25px;
    background-image: linear-gradient(to right, #c0957b, #c59b83, #caa18a, #cfa892, #d4ae9a);
    margin: 5px 0px;
    padding: 10px;
	cursor: pointer;
}
.notifacations-content{
	position: absolute;
    max-height: 90%;
    width: 100%;
    overflow: overlay;
}
.pointer-1,.pointer-2,.pointer-3{
	position: absolute
}
.pointer-1{
	left: 20%;
}

.pointer-2{
	left: 50%;
}

.pointer-3{
	left: 90%;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid white;
}
.mobile-section_gameboard{
	display: none;
}
.spin-mobile,.spiner-mobile{
	display: none;
}
@media (max-width: 1024px){
	.left-box{
		width: 98%;

	}
}
@media (max-width: 812px){
	.left-box{
		font-size: 12px;

	}
	.left-box-content{
		height: 350px;
	}
}
@media only screen and (max-width: 736px){
	.text-reward-name{
		width: 100%;
		font-size: 2rem
	}
	.text-reward{
		position: fixed;
		width: 100%;

	}

	.bg-reward{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.bg-reward img{
		width: 100%;
	}
	.nomal-cal{
		width: 250px;
		position: static;
		margin: 0px;
	}
	.show-reward{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	
	.treasure-game-box{
		background: #000000;
		font-size: 12px;
	}
	.left-box{
		width: 98%;
		margin: 0px 0px 10px 0px;
	}
	.left-box-notifications{
		margin-bottom: 30px;
		width: 95%;
	}
	.spiner{
		display: none !important;
	}
	.mobile-section_gameboard{
		display: block;
		width: 50%;
		margin: 0px auto;
		margin-bottom: 20px;
	}
	#game-board{
		position: relative;
	}
	.spin-mobile{
		display: block;
		position: absolute;
		width: 48px;
		top: 0;
		left: 75%;
		cursor: pointer;
	}
	.spiner-mobile{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
	#overlay {
		position: absolute; /* Sit on top of the page content */
		display: none; /* Hidden by default */
		width: 100%; /* Full width (cover the whole page) */
		height: 100%; /* Full height (cover the whole page) */
		top: 0; 
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5); /* Black background with opacity */
		z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
		cursor: pointer; /* Add a pointer on hover */
	}
}
@media only screen and (max-width: 416px){
	/* .text-reward-name{
		width: 100%;
		font-size: 2rem
	}
	.text-reward{
		position: fixed;
		width: 100%;

	}

	.bg-reward{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.bg-reward img{
		width: 100%;
	}
	.nomal-cal{
		width: 250px;
		position: static;
		margin: 0px;
	}
	.show-reward{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	
	.treasure-game-box{
		background: #000000;
		font-size: 12px;
	}
	.left-box{
		width: 100%;
		margin: 0px 0px 10px 0px;
	}
	.left-box-notifications{
		margin-bottom: 30px
	}
	.spiner{
		display: none !important;
	}
	.mobile-section_gameboard{
		display: block;
		width: 50%;
		margin: 0px auto;
		margin-bottom: 20px;
	}
	#game-board{
		position: relative;
	}
	.spin-mobile{
		display: block;
		position: absolute;
		width: 48px;
		top: 0;
		left: 75%;
		cursor: pointer;
	}
	.spiner-mobile{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	} */
	#overlay {
		position: absolute; /* Sit on top of the page content */
		display: none; /* Hidden by default */
		width: 100%; /* Full width (cover the whole page) */
		height: 100%; /* Full height (cover the whole page) */
		top: 0; 
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5); /* Black background with opacity */
		z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
		cursor: pointer; /* Add a pointer on hover */
	}
}
</style>
<script>
 var img_path = '{% static "images" %}';
</script>

<script src="{% static "js/treasure_chest.js" %}"></script>
<div id="reward-box" class="hide " >
	<div class="text-reward-name"></div>
	<div class="bg-reward">
		<img src="{% static 'images/games/bg1.png' %}">
	</div>
	<div class="show-reward">
		<img src="" style="display: none">
	</div>
	<div class="text-reward"></div>
	<div class="waiting-api" style="font-size: 20px;position: absolute;margin: 0 auto;bottom: 0;left: 0;right: 0;display: none;">{% trans 'LANG_WAIT_FOR_CLAIM_BONUS' %}</div>
</div>
<div id="treasure-game" class="treasure-game-box">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-12">
            <!-- <div class="profile-data">
                <img src="{% static 'images/games/name.png' %}" width="100%">
			</div> -->
			<div class="left-box" style="display:none">
				<div class="left-box-content">
					<div class="left-box-deposit">
						<div class="deposit-title">
							<span>{% trans 'LANG_DEPOSIT_FOR_FREE_SPINS' %}</span>
						</div>
						<div class="">	
							<div class="exp-first" style="margin:0px;  margin-right:15px;">
								<div class="inner"></div>
								<div class="pointer-1" ><span class="arrow-up"></span></div>
								<div class="pointer-2"><span class="arrow-up"></span></div>
								<div class="pointer-3"><span class="arrow-up"></span></div>
							</div>
							<div class="inner-spin-text">
									<div class="spin-text-1" style="float: left;width: 40%;text-align: center;padding-top: 2px;"><span>500<br/>1 {% trans 'LANG_SPIN' %}</span></div>
									<div class="spin-text-2" style="float: left;width: 30%;text-align: center;padding-top: 2px;"><span>1000<br/>2 {% trans 'LANG_SPINS' %}</span></div>
									<div class="spin-text-3" style="float: left;width: 30%;text-align: right;padding-top: 2px;"><span>2000<br/>3 {% trans 'LANG_SPINS' %}</span></div>
							</div>
							<div class="exp-second" style="margin:0px; float: left; margin-right:15px;">
								<div class="inner"></div>
								<div class="pointer-3"><span class="arrow-up"></span></div>
							</div>
							<div class="inner-spin-text">
								<div class="" style="float: right;padding-top: 2px;text-align: right;"><span>1000<br/>{% trans 'LANG_FREE_SPIN' %}</span></div>
							</div>
						</div>
						
					</div>
					<div class="left-box-notifications">
						<div class="notifacations-title">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-6"><span>{% trans 'LANG_NOTIFICATIONS' %}</span></div>
								<div class="col-md-6  col-sm-6 col-6 text-right"><a href="#">{% trans 'LANG_SEE_ALL' %}</a></div>
							</div>
						</div>
						<div class="notifacations-content">
							<!-- <div class="notifacations-content-data">
								<span>Do you have free spin for games</span>
							</div>
							<div class="notifacations-content-data">
								<span>Do you have free spin for lucky card</span>
							</div>
							<div class="notifacations-content-data">
								<span>Congraturations tresure chest</span>
							</div>
							<div class="notifacations-content-data">
								<span>Congraturations tresure chest</span>
							</div>
							<div class="notifacations-content-data">
								<span>Congraturations tresure chest</span>
							</div> -->
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
			<div class="mobile-section_gameboard">
				<div class="spin-left-box">
					<span class="spin-has-left">{% trans 'LANG_DONT_HAVE_SPIN' %}</span>
				</div>
				
			</div>
            <div id="game-board">
				<img src="{% static 'images/games/board6.png' %}" width="100%">
				<div id="marker" style="display:none">
					<img src="{% static 'images/games/avatar.png' %}">
				</div>
				<div class="spin-mobile" >
					<img src="{% static 'images/games/spin3.png'%}" width="100%">
				</div>
			</div>
			<div id="overlay">
				<div class="spiner-mobile" >
					<div id="wrapper-mobile">
								
						<div id="wheel-mobile" >
							<div id="inner-wheel-mobile">
								<div>
									<img src="{% static 'images/games/spin1.png'%}" width="100%">
								</div>
							</div>       
							<div id="pin-mobile">
								<div>
									<img src="{% static 'images/games/spin5.png'%}" width="100%">
								</div>
								
							</div>
							<div id="spin-mobile">
								<!-- <div id="inner-spin"></div> -->
								<div>
									<img src="{% static 'images/games/spin3.png'%}" width="100%">
								</div>
							</div>
							
							
							<div id="shine-mobile"></div>
						</div>
						
					</div>
				</div>
			</div>
			
        </div>
        <div class="col-md-3 col-sm-12 col-12">
			
            <div class="spiner" style="display:none">
                <!-- <div>
                    <img src="{% static 'images/games/spin1.png'%}" width="100%">
                </div> -->
                <div class="spin-left-box">
					<span class="spin-has-left">{% trans 'LANG_DONT_HAVE_SPIN' %}</span>
				</div>
                <div id="wrapper">
                            
                    <div id="wheel" >
                        <div id="inner-wheel">
                            <div>
                                <img src="{% static 'images/games/spin1.png'%}" width="100%">
                            </div>
                        </div>       
                        <div id="pin">
                            <div>
                                <img src="{% static 'images/games/spin5.png'%}" width="100%">
                            </div>
                            
                        </div>
                        <div id="spin">
                            <!-- <div id="inner-spin"></div> -->
                            <div>
                                <img src="{% static 'images/games/spin3.png'%}" width="100%">
                            </div>
                        </div>
                        
                        
                        <div id="shine"></div>
                    </div>
                    
                    
                    <div id="txt"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
