{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}


{% block content %}
<!--  sport  -->
<style>
.bet_pop {
    background-image: red;
    margin: 0;
    position: fixed;
    height: 40px;
    width: auto;
    right: 3%;
    bottom: 70px;
    z-index: 8;
    background: none;
    border: 0;
    padding: 0;
}
#seeSlip {
    display:none;
    font-size: 20px;
    bottom: 30px;
    right: auto;
    left: auto;
    opacity: 1;
    background: #00b27c;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50% !important;
    line-height: 40px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.bet_history_div {
  margin-bottom:10px;
  text-align:center;
  padding:7px;
  background:#3a383a;
  font-size: 18px;
}
a.bet_history_a { text-decoration:none; color:#FFFFFF; font-size: 14px;}
</style>
<div class="bet_pop"><div id="seeSlip" onclick="showBetslip()">0</div></div>
<div class="container full-width">

<!-- {% include "dashboard/game/game-box.html" with id="games-table" gamescreen="game-screen casino-live" gamemode="ROULETTE" %} Anonymous-->
<script>
document.domain='uniclubcasino.com';
</script>

<a href="" id="bet_history_a" class="bet_history_a hidden" target="iframeBetting"><div class="bet_history_div"><i class="fa fa-history" aria-hidden="true"></i> Bet History</div></a>
<iframe
    name="iframeBetting"
    id="iframeBetting"
    src=""
    width="100%"
    height="1750"
    frameborder="0"
    scrolling="no" allowTransparency="true"
    style="width:100%"
></iframe>

</div>
<script>
function resizeIframe() {
  //console.log("==resizeIframe==");
  if (typeof $("iframe").contents().find('html').height() != 'undefined'){
      if ($("iframe").contents().find('html').height() > 100) {
          //console.log("==iframeBetting resizeIframe==");
          $('#iframeBetting').height(  $("iframe").contents().find('html').height()  + 'px') ;
      } else {
          //console.log("==iframeBetting resizeIframe2==");
          setTimeout(function (e) {
              resizeIframe();
          }, 50);
      }
  }
}

function showBetslip(){
  var iframe = document.getElementsByTagName('iframe')[0];
  iframe.contentWindow.postMessage({'callFunction':'showBetslipOverlayForMobile'},'*')
}
$(function () {
    if ( getCookie("pwr_ss") == null || getCookie("pwr_ss") == ''){
      setFrameSport('Anonymous');
      setTimeout(function (e) {
          resizeIframe();
      }, 1000);
    } else {
      setTimeout(function (e) {
          if (!isLogin){
            setCookie('pwr_ss','',36500);
            setFrameSport('Anonymous');
          }
      }, 5000);
    }

    $(window).resize(function() {
      $("#iframeBetting").css("width", '100%');
    });


    function receiveMessage(event) {
        console.log(event.data);
        if (event.data.type == "betsCount"){
            $('#seeSlip').html(event.data.value);
            if (event.data.quickBetPopupVisible == false){ $('#seeSlip').show(); } else { $('#seeSlip').hide(); }
            if (event.data.value == 0){ $('#seeSlip').hide(); }
        }
    }
    window.addEventListener("message", receiveMessage, false);
});
</script>
{% endblock %}
