{{!-- start tablet & mobile --}}
<div class="each-row">
    <div class="row mg-bt-20">
        <div class="col-12">
            <p style="width:100%;margin-bottom:5px;">PAYMENT METHOD</p>
            <img src="{{ icon }}">
        </div>
    </div>
    <div class="row mg-bt-20">
        <div class="col-6">
            <p style="margin-bottom:5px;">TRANSFER FEES</p>
            <p style="margin-bottom:5px;font-size: 18px;">0 %</p>
        </div>
        <div class="col-6">
            <p style="margin-bottom:5px;">MINIMAL AMOUNT</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{ depositLimit.min }}</p>
        </div> 
    </div>
    <div class="row mg-bt-20">
        <div class="col-6 ">
            <p style="margin-bottom:5px;">BALANCE UPDATE IN</p>

        {{!-- if have duration time --}}
            <p  style="margin-bottom:5px;" class="yellow">
                <i class="glyphicon glyphicon-time yellow" style="font-size: 20px;margin-right: 7px;top: 4px;"></i>
                <span class="yellow" style="position: absolute;font-size: 18px;">5-45 min</span>
            </p>

        {{!-- else --}}
            <p  style="margin-bottom:5px;" class="green">
                <i class="glyphicon glyphicon-ok-circle green" style="font-size: 20px;margin-right: 7px;top: 4px;"></i>
                <span class="green" style="position: absolute;font-size: 18px;">Instanlty</span>
            </p>

        </div>
        <div class="col-6">
            <button class="btn btn-transparent-blue"  onclick="document.location = '{{ code }}';" style="width:100%;margin-top: 12px;">Choose</button>
        </div>  
    </div>
</div>
{{!-- end tablet & mobile --}}
