{% extends "normal_screen.html" %}
{% block content %}
<div id="cms-base">
    {% block cms_main %}
        {% block cms_content %}{% endblock %}
    {% endblock %}
</div>

<script>
    //This is only used for changing the url of logo header image, if the user is logged in.
    //c.doCall((function(){}));

    $('[alt="KAMPAGNER_LUKSUSFERIE2.png"]').css({
        "display": "block",
        "margin-left": "auto",
        "margin-right": "auto",
        "margin-top": "20%"
    });
</script>
{% endblock %}
