{% load menu_tags %}
{% for child in children %}
{% if child.get_menu_title == "menu_sitemap" %}
{% if child.children %}
{% for child1 in child.children %}
<li class="item-sitemap">
    <h6>{{ child1.get_menu_title }}</h6>
    {% if child1.children %}
        <ul class="list-sitemap-sub">
        {% for child2 in child1.children %}
            {% if child2.get_menu_title != 'Supertoto & Superscore' and child2.get_menu_title != 'Casino Tournaments' %}
            <li class="item-sitemap-sub">
                <a href="{{ child2.attr.redirect_url|default:child2.get_absolute_url }}">{{ child2.get_menu_title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</li>
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}