{% extends "cms_templates/base_sidebar.html" %}

{% load cms_tags %}
{% load menu_tags %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load casino_campaigns_tags %}

{% block title %}{% page_attribute "page_title" %} | {{ block.super }}{% endblock %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

{% block cms_content %}
<div class="height-full cms-content">
    <div class="row height-full">
        <div class="sub-page-aside submenu-bar col-md-3" style="background: url({% static 'images/sub-menu-bg2.jpg' %}); padding-right: 0;">
            <aside>
                <ul>
                    {% show_menu_below_id 'support' 0 100 100 100 'cms_templates/left_menu.html' %}
                </ul>
            </aside>
            <div class="toggle-aside-btn"></div>
        </div>

        <div class="sub-page-content col-md-9">
            <div class="sub-page-header">
                <div class="bg-winner">
                    <font>{% page_attribute "page_title" %}</font>
                    <div class="winner-bar"></div>
                </div>
            </div>

            <div  class="sub-page-wrapper">
                <div class="sub-page-container col" style="margin-top:0;">
                    <div class="row" style="padding:0;" style="margin: 0 !important;">
                        <div style="display: block">
                            {% placeholder "content" or %}
                            {% if user.is_staff %}
                            {% load i18n %}
                            <article>
                                {% comment %} <p>{% trans "LANG_NO_CONTENT" %}</p> {% endcomment %}
                            </article>
                            {% endif %}
                            {% endplaceholder %}
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
<script>

$(document).ready(function(){

    // var currentPageURL = location.pathname;
    // var str = currentPageURL.substring(0, currentPageURL.length-1);
    // var n = str.lastIndexOf('/');
    // var lastPart = str.substring(n + 1);

    // console.log('result !!!! = '+lastPart);
    
    // var parts = currentPageURL.split("/");
    // var current = parts.length > 3 ? parts[2] : parts[parts.length - 2];
    // console.log('parts.length! >>> '+parts.length);

    // // submenu active
    // if(lastPart){
    //     $('.'+lastPart+' a').addClass('active');
    // }
    
    // var inputs_mainmenu = $("#main-menu .slick-slide");
    // var menu_active;
    // var group_current ;
    // if(parts[1] == 'support'){
    //     group_current = 'support';
    // }
    // console.log('parts[1] == '+parts[1]);
    // console.log('group_current == '+group_current);
    
    // $("#main-menu .slick-slide").removeClass('active');
    // inputs_mainmenu.each(function(){
    //     menu_active = $(this).attr('menu-active');
    //     group_active = $(this).attr('group-active');
    //     if(menu_active == current){
    //         $(this).addClass('active');
    //     }
    //     console.log('group_active == '+group_active);
    //     if(group_active == group_current){
    //         $(this).addClass('active');
    //     }
    // });

});

    // $(document).ready(function(){
    //     lightbox.option({
    //         'resizeDuration': 200,
    //         'wrapAround': true,
    //         'disableScrolling': true
    //     });

    //     $('.panel-collapse').on('show.bs.collapse', function () {
    //         $(this).siblings('.panel-heading').addClass('active');
    //     });

    //     $('.panel-collapse').on('hide.bs.collapse', function () {
    //         $(this).siblings('.panel-heading').removeClass('active');
    //     });

        
    //     var currentPageURL = location.pathname;
    //     var parts = currentPageURL.split("/");
    //     var current = parts[parts.length-1] != '' ? parts[parts.length-1] : parts[parts.length - 2];
    //     var inputs_submenu = $(".submenu-bar .tab-bar a");
    //     inputs_submenu.each(function(){
    //         if($(this).attr('sub-active') == current){
    //             $(this).addClass('active');
    //         }
    //     });
    //     // if(current == 'account'){
    //         var inputs_menu = $(".m-menu .nav-item a");
    //         var attr = '';
    //         inputs_menu.each(function(){
    //             attr = $(this).attr('menu-active');
    //             if (typeof attr !== typeof undefined && attr !== false) {
    //                 if($(this).attr('menu-active') == current){
    //                     $(this).addClass('active');
    //                 }
    //             }
    //         });
    //     // }
    //     $('.panel-collapse').on('show.bs.collapse', function () {
    //         //console.log($(this).attr('id'));
    //         $("#"+$(this).attr('id')).parent().addClass('active');
    //     });

    //     $('.panel-collapse').on('hide.bs.collapse', function () {
    //         //console.log($(this).attr('id'));
    //         $("#"+$(this).attr('id')).parent().removeClass('active');
    //     });

    //     // $('.multicolumn.multicolumn-2').addClass('about-us-box-1');

    //     var next_multicolumm = $('.block_uniqueness').parent().children();
        

    //     // Acout Us layout 
    //     $.each(next_multicolumm , function(key,value){
    //         console.log(key,$(value));
    //         if(key == 3 || key == 10 || key == 13){
    //             console.log(key);
    //             console.log($(value).children());
    //             $(value).children().children().addClass('content_default');    
    //         }
    //     });

    //     function onScroll() {
    //         $('.sub-page-aside').removeClass('active');
    //     }

    //     $(function(){
    //         $(window).scroll(onScroll);
    //     });

    //     $(".toggle-aside-btn").click(function (e) {
    //         $('.sub-page-aside').toggleClass('active');
    //     });
    // });
</script>
{% endblock %}