{% extends "cms_templates/base.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block title %}{% page_attribute "page_title" %} | {{ block.super }}{% endblock %}

{% block bodyclass %}page_affiliate{% endblock %}
{% block cms_content %}
  {% placeholder "content" or %}
    {% if user.is_staff %}
      {% load i18n %}
      <article>
        <h1>{% page_attribute "page_title" %}</h1>
        <p>{% trans "LANG_NO_CONTENT" %}</p>
      </article>
    {% endif %}
  {% endplaceholder %}
  <div class="affiliate_partner_btn_wrapper">
    <a class="btn btn-primary" id="affiliate_partner_btn" href="#">{% trans 'LANG_AFFILIATE_PARTNER' %}</a>
  </div>
  <div class="push_top"></div>
  {% placeholder "content_affiliate" %}
{% endblock %}
