{% extends "normal_screen.html" %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block content %}
<!--  sport  -->
<div class="container full-width">
<!-- {% include "dashboard/game/game-box.html" with id="games-table" gamescreen="game-screen casino-live" gamemode="ROULETTE" %} Anonymous-->
<script>
document.domain='pwr.bet';
</script>
<!-- betgames.tv iframe -->
<!-- document https://wiki.betgames.tv/index.php?title=Creating_an_IFRAME_using_JavaScript -->
<script type="text/javascript"> 
    var _bt = _bt || [];    
    var live_games_server = 'https://game3.betgames.tv';
    var live_games_partner_code = 'uniclubcasino';
    var live_games_token = '-';
    var live_games_language = 'en';
    var live_games_timezone = '0';
    var live_games_is_mobile = '';
    var live_games_current_game = '';
    var live_games_odds_format = '';
    var live_games_home_url = '';
    if(getCookie("pwr_ss")){
        live_games_token = getCookie("pwr_ss");
    }
    _bt.push(['server', live_games_server]);
    _bt.push(['partner', live_games_partner_code]);
    _bt.push(['token', live_games_token]);
    _bt.push(['language', live_games_language]);
    _bt.push(['timezone', live_games_timezone]);
    //_bt.push(['is_mobile', '<is_mobile>']);
    //_bt.push(['current_game', '<current_game>']);
    //_bt.push(['odds_format', '<odds_format>']);
    //_bt.push(['home_url', '<home_button_url>']);
    (function(){
    document.write('<'+'script type="text/javascript" src="'+live_games_server+'/design/client/js/betgames.js"><'+'/script>');
    })();
   </script>
   <script type="text/javascript">BetGames.frame(_bt);</script>
</div>
{% endblock %}
