{% load i18n %}
{% for notification in notifications %}
<div class="notifacations-content-data">
    {% if notification.win_type == '1' %}
        <span>{% trans 'LANG_DO_YOU_HAVE_FREE_SPIN' %} {{notification.win_result}}</span>
    {% elif notification.win_type == '5' %}
        <span>{% trans 'LANG_DO_YOU_HAVE_DEPOSIT_BONUS' %} {{notification.win_result}}</span>
    {% else %}
        <span>{% trans 'LANG_DO_YOU_HAVE' %} {{notification.win_bonus}} {% trans 'LANG_SPINS_FOR' %} {{notification.win_result}}</span>
    {% endif %}
</div>
{% empty %}
    <div class="notifacations-content-data text-center">
        <span>{% trans 'LANG_DONT_HAVE_NOTIFICATIONS' %}</span>
    </div>
{% endfor %}