{% extends "campaign_screen.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cms_tags %}
{% load menu_tags %}
{% load casino_campaigns_tags %}
{% block cms_content %}
{% get_current_language as LANGUAGE_CODE %}

{% block menu %}
    {% include "home/menu.html" %}
{% endblock menu %}

<style>
    @font-face {
        font-family: Glyphicons Halflings;
        src: url("/static/fonts/glyphicons-halflings-regular.eot");
        src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix")
        format("embedded-opentype"),
        url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"),
        url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
    }

    .glyphicon-triangle-right:before {
        content: "\e250";
    }

    .glyphicon-triangle-left:before {
        content: "\e251";
    }

    .glyphicon-remove-circle:before {
        content: "\e088";
    }

    .glyphicon-ok-circle:before {
        content: "\e089";
    }

    .glyphicon-time:before {
        content: "\e023";
    }

    .glyphicon-calendar:before {
        content: "\e109";
    }

    .panel-heading {
        padding: 0;
        border:0;
    }
</style>

<!-- <div class="sub-page-top-banner">
    <img src="/static/images/bannerPromo.jpg" />
</div> -->
    
<div class="promotions-main container">
    <div class="row">
        <div class="sub-page-content col-md-12">
            {% show_results limit=12 slider=1 category=request.GET.category as campaign_list %}
            {% for campaign in campaign_list %}
                {% if campaign.landing_page|lower == 'false' and campaign.language_code == LANGUAGE_CODE %}

                    <div class="col-md-6 col-12 promotions-item">
                        <div class="sub-page-wrapper">
                            <div class="sub-page-container p-0 col" style="height: 200px;">
                                <figure class="square-thumbnail">
                                    <img src="{{ campaign.thumbnail.url }}" alt="{{ campaign.title }}" />
                                </figure>
                        
                                <div class="content col-md-6 col-sm-12 d-flex flex-column">
                                    <div>
                                        <h3 class="content-title campaign-title">{{ campaign.title|truncatewords_html:"3" }}</h3>
                                    </div>
                                    {% comment %} <div class="content-title subtitle">{{ campaign.subtitle|truncatewords_html:"3" }}</div> {% endcomment %}
                                    <div class="content-detail">{{ campaign.detail|truncatewords_html:"10" }}</div>
                                    <a href="{{ campaign.get_absolute_url }}" class="btn btn-lg btn-white-yellow mt-auto mg-bt-15">{% trans 'LANG_READ_MORE'|title %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
            

            {% endif %}
            {% empty %}
            <div class="sub-page-wrapper">
                <div class="content text-center mt-5" style="min-height:150px">
                    <br>
                    <p>{% trans "LANG_NO_PROMOTIONS" %}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}