{% extends "cms_templates/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load cms_tags %}
{% load menu_tags %}
{% load casino_campaigns_tags %}
{% block cms_content %}
{% get_current_language as LANGUAGE_CODE %}
<style>
    @font-face {
        font-family: Glyphicons Halflings;
        src: url("/static/fonts/glyphicons-halflings-regular.eot");
        src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix")
        format("embedded-opentype"),
        url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"),
        url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
    }

    .glyphicon-triangle-right:before {
        content: "\e250";
    }

    .glyphicon-triangle-left:before {
        content: "\e251";
    }

    .glyphicon-remove-circle:before {
        content: "\e088";
    }

    .glyphicon-ok-circle:before {
        content: "\e089";
    }

    .glyphicon-time:before {
        content: "\e023";
    }

    .glyphicon-calendar:before {
        content: "\e109";
    }

    .square-thumbnail {
        height: 450px;
        margin-top: 1em;
    }

    @media only screen and (max-width: 576px) {
        .square-thumbnail {
            height: 300px;
            margin: 15px 0;
        }
    }

    .btn-older {
        background-image: url('/static/images/reg_widget_cta.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: transparent;
        background-size: cover;
        border: 0;
        width: 270px;
        height: 62px;
        margin: 20px auto 40px;
        color: #3c362a !important;
        line-height: 52px;
        text-align: center;
        text-decoration: none;
        font-size: 16px !important;
        font-weight: 900 !important;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        border-radius: 12px !important;
    }

@media only screen and (max-width: 416px) {
   
}

</style>

<div class="container">
    <div class="row">
        <div class="sub-page-content col-md-12 col-12">
            <div class="sub-page-header">
                <h3 class="content-title campaign-title" style="margin-top: 20px;">{{ campaign.title }}</h3>
            </div>
            <div class="sub-page-wrapper">
                <div class="sub-page-container p-0 mb-0 col d-flex flex-column" style="padding-bottom:15px;">
                    <div class="col-md-12">
                        <figure class="square-thumbnail">
                            <img class="img-campaign-detail" src="{{ campaign.banner_cover.url }}" alt="{{ campaign.title }}"/>
                        </figure>
                        <div class="campaign-detail">
                            <h3>{{ campaign.subtitle }}</h3>
                            <p>{{ campaign.detail }}</p>
                        </div>
                        <div style="text-align: center; margin-bottom: 15px;">
                            {% if campaign.cta %}
                                <a data-toggle="modal" class="btn btn-white-yellow col-md-3 col-12 landing btnRegister" style="font-size: 1rem;" data-target="#registerModal">{{campaign.cta}}</a>
                            {% else %}
                                <a data-toggle="modal" class="btn btn-white-yellow col-md-3 col-12 landing btnRegister" style="font-size: 1rem;" data-target="#registerModal">{% trans 'LANG_REGISTER_NOW'|upper %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-page-content col-md-12 col-12" style="padding: 1.5rem 1.5rem 0 1.5rem;">
                <h4 style="font-size: 16px;">
                    {{ campaign.topic }}
                </h4>
                <div class="campaign-detail">
                    {{ campaign.topic_data }}
                </div>
            </div>
            <div class="mt-4 px-md-0 pl-sm-4 pr-sm-4">
                <a href="/promotions/" class="btn btn-lg btn-white-yellow mt-auto" style="font-size: 1rem;">{% trans 'LANG_BACK'|title %}</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.panel-collapse').on('show.bs.collapse', function () {
            $('.promotions-panel').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $('.promotions-panel').removeClass('active');
        });
    });
</script>
{% endblock %}