{% extends "base.html" %}
{% load cms_tags %}

{% block screen_body %}
    {% block winner %}{% endblock %}
    {% block banner %}{% endblock %}
    {% block menu %}{% endblock %}
    {% block search %}{% endblock %}
    <div class="content-wrapper">
    {% if request.user.is_authenticated %}
        <div class="container d-block d-sm-none">
            <div class="row">
                {% include "home/submenu.html" with mode='profile'%}
            </div>
        </div>
    {% endif %}

        {# This block makes no sense - use the content block #}
        {% block sub_header %}{% endblock sub_header %}
        {% block content %}{% endblock %}

        {# This block makes no sense - use the content block #}
        {% block sub_content %}{% endblock sub_content %}
       
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small> {#% static_placeholder "footer" %#}</small>
                </div>
            </div>
        </footer> -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

    </div>
    {% block content-data %}{% endblock %}

{% endblock %}
{% block footer %}
    {# % include 'home/footer.html' % #}
{% endblock footer %}