{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% if EVERYMATRIX %}
    <script type="text/javascript">
        window._EM = {
            url: '{{ EVERYMATRIX.url|escapejs }}',
            domain: '{{ EVERYMATRIX.domain|escapejs }}',
        }
        
    </script>
    {% endif %}
    {% if userid %}
        <script>
            var session_id = '{{userid}}';
        </script>
    {% else %}
        <script>
            var session_id = 'Anonymous'
        </script>
    {% endif %}
    {% if vendor %}
        <script>
            var vendor = '{{vendor}}';
        </script>
    {% else %}
        <script>
            var session_id = 'Anonymous'
        </script>
    {% endif %}
    <script >
        var isLogin = false;
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'libs/autobahn/autobahn.min.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}" as="script"></script>
    <script src="{% static 'js/utilities.js' %}?t={{time}}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/wheel.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet" />

   

    <!-- <link rel="stylesheet" type="text/css" href="{% static  'libs/loading/jquery.loading.min.css' %}"/>
    <script src="{% static 'libs/loading/jquery.loading.min.js' %}"></script> -->
</head>
<style>
    
</style>
<!-- Custom styles for this template-->
<body>
    <div class="reward-box" style="display:none">
        <div class="reward-content">
            <div class="overlay"></div>
            <div class="reward-bg">
                <img src="" >
            </div>
            <div class="reward-img">
                <img src="" >
            </div>
            <div class="reward-txt-deposit">
                <span>{% trans "TEXT_WAITING_CLAIM_BONUS" %}</span>
                <!-- <span class="txt-bonus">Prize of 25% bonus on deposit</span> -->
            </div>
            <div class="reward-txt-bonus">
                <!-- <span class="txt-deposit">Deposit 0 - 499 </span> -->
                <span></span>
            </div>
            <!-- <div class="reward-claim-bonus">
                <span>Waiting claim bonus</span>
            </div> -->
        </div>
    </div>
    <div class="container full-width p-0">
        <div class="loading">Loading&#8230;</div>
        
        <div class="row p-0 m-0">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="left-box" style="display:none">
                    <div class="how-to-play">
                        <div class="htp-title">
                            <span>{% trans "TEXT_HOW_TO_PLAY" %}</span>
                        </div>
                        <div class="htp-content">
                            {% trans "TEXT_HOW_TO_PLAY_DETAIL" as trs_play_detail %}
                            {{ trs_play_detail|linebreaks }}
                        </div>
                    </div>
                    <div class="show-spin-top">
                        <div class="text-amont-spin">
                            <span>0</span>
                        </div>
                        <div class="text-spin">
                            <span>{% trans "TEXT_SPIN" %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-0">
                <div class="content-wrapper">
                    {% block content %}
                        <div id="wheel-game" align="center" style="display:none">
                            <div class="clearfix">
                                <div class="wheel">
                                    <div class="wheel-inner wheel-blue ">
                                        <a id="wheel-blue-spin-button">
                                        <img class="wheel-reward-img" src="" id="wheel-blue" />
                                            <!-- <img src="{% static 'images/wheel/point-desktop_LV1.png' %}" class="wheel-button wheel-button-img" /> -->
                                        </a>
                                    </div>
                                    <div class="sWheel-marker">
                                        <img src="{% static 'images/wheel/sl_pin.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="right-box" style="display:none">
                    <div class="show-spin">
                        <div class="text-amont-spin">
                            <span>0</span>
                        </div>
                        <div class="text-spin">
                            <span>{% trans "TEXT_SPIN" %}</span>
                        </div>
                    </div>
                    <div class="how-to-play-bottom">
                        <div class="htp-title">
                            <span>{% trans "TEXT_HOW_TO_PLAY" %}</span>
                        </div>
                        <div class="htp-content">
                            <p>{% trans "TEXT_STEP_1" %}</p>
                            <p>{% trans "TEXT_STEP_2" %}</p>
                            <p>{% trans "TEXT_STEP_3" %}</p>
                            <p>{% trans "TEXT_STEP_4" %}</p>
                            <p>{% trans "TEXT_STEP_5" %}</p>
                            <p>{% trans "TEXT_STEP_6" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/wheel.js' %}?t={{time}}" type=" text/javascript"> </script>
</body>

</html>