

{% extends "admin/change_list.html" %}
<div>
    <form id='approve_status_from' method="POST">
        {% block object-tools-items %}
            <div>
                    {% csrf_token %}
                    <input name="userid" id="user_status_userid">
                    <button class = "btnStatusApprove" type="submit">Approve</button>
            </div>
    </form>
</div>
   
    <br>
    <script>
        var $= django.jQuery;
        $( document ).ready(function($) {
            $(".btnStatusApprove").click(function(){
                username_Input =$('#user_status_userid').val();
                var url = '/idenfy/requestContractApprove/' + '?username='+username_Input;
                $.get( url, function( data ) {
                    
                });
            }); 
        });
    </script>
    {{ block.super }}
    {% endblock object-tools-items %}


    

